
/********************
GENERAL
********************/

* {
	box-sizing: border-box;
	/*border: 1px solid red;*/
}
body {
	/*margin: 1%;*/
	/*font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;*/
	/*font-family: Tahoma, 'Geneva', 'Century Gothic', 'Lucida Sans Unicode', 'Lucida Grande', Verdana, 'Trebuchet MS', sans-serif;*/
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Raleway', sans-serif;
}
header {
	width: 100%;
}
header #logo {
	float: left;
	padding: 10px;
}
header nav {
	margin: 0;
	padding: 0 10px 0 0;
}
header nav ul {
	float: right;
	width: 445px;
	text-align: right;
	margin: 40px 0 0 0;
	padding: 0;
}
header nav li {
	display: inline-block;
	color: #555;
	font-size: 20px;
	padding: 1%;
	color: #999;
}
header nav li a {
	text-decoration: none;
	color: #999;
}
header nav li a:hover {
	color: black;
}
header nav .selected {
	color: #905065;
}
header nav .subNav {
	display: none;
	width: 445px;
	/*padding-right: 1%;*/
	margin: 10px 0;
}
header nav .subNavVisisble,
header nav .portfolioNav:hover .subNav {
	display: inline-block;
}
header nav .subNav li {
	font-size: 14px;
	padding: 0%;
}
.contentWrapper {
	width: 100%;
	float: left;
	/*margin-top: 20px;*/
}


@media screen and (max-width: 935px) {
	header a {
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	header #logo {
		float: none;
		display: inline-block;
		margin: 0 auto;
		text-align: center;
	}
	header nav ul {
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	header nav .subNav {
		float: none;
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}

@media screen and (max-width: 475px) {
	header #logo {
		max-width: 100%;
	}
	header nav ul {
		max-width: 100%;
	}
	header nav li{
		display: block;
		max-width: 100%;
		/*text-align: center;*/
		margin: 0;
		padding: 5px 0;
	}
	header nav .dividerLine {
		display: none;
	}
}

@media screen and (max-width: 230px) {
	body {
		width: 230px;
	}
}


/********************
INDEX
********************/

.index .newHomes,
.index .renosAndAdditions {
	height: 400px;
	clear: left;
}
.index .newHomesImages,
.index .renosAndAdditionsImages {
	max-width: 100%;
	background-size: cover;
	height: 350px;
	overflow: hidden;
	clear: left;
}
.index .newHomes,
.index .newHomesImages {
	margin-bottom: 20px;
}
.index .image1,
.index .image2,
.index .image3 {
	max-width: 100%;
	background-size: cover;
	height: 350px;
}
.index .newHomesImages .image1 {
	background-image: url("../images/New-Homes/Oakville-Executive-Home/1.jpg");
	background-position: 50% 40%;
}
.index .newHomesImages .image2 {
	background-image: url("../images/New-Homes/Hoggs-Hollow-Traditional/2.jpg");
	background-position: 50% 40%;
}
.index .newHomesImages .image3 {
	background-image: url("../images/New-Homes/Hoggs-Hollow-French-Country/4.jpg");
	background-position: 50% 60%;
}
.index .renosAndAdditionsImages .image1 {
	background-image: url("../images/Renovations-Additions/Lytton-Park-Update/3.jpg");
	background-position: 50% 20%;
}
.index .renosAndAdditionsImages .image2 {
	background-image: url("../images/Renovations-Additions/Etobicoke-Renewal/2.jpg");
	background-position: 50% 40%;
}
.index .renosAndAdditionsImages .image3 {
	background-image: url("../images/Renovations-Additions/Lytton-Park-Update/2.jpg");
	background-position: 50% 40%;
}
.index .contentWrapper a {
	text-decoration: none;
	color: white;
	font-size: 28px;
	font-weight: 700;
}
.index .textOverlay {
	position: relative;
	margin-top: -75px;
	padding: 20px;
	z-index: 200;
}
.index .shadowOverlay {
	position: relative;
	margin-top: -370px;
	background-color: black;
	opacity: 0;
	z-index: 100;
	height: 350px;
}
.index .renosAndAdditions .shadowOverlay {
	margin-top: -380px;
}
.index .contentWrapper a:hover .shadowOverlay {
	opacity: 0.3;
}
.index .welcomeBlurb {
	float: center;
	text-align: center;
	font-size: 24px;
	margin: 20px 0;
}
.index .welcomeBlurb p {
	max-width: 900px;
	margin: 0 auto;
}

@media screen and (max-width: 395px) {
	.index .renosAndAdditions .shadowOverlay {
		margin-top: -410px;
	}
}


/********************
ABOUT
********************/

/*Just a strip of background, not the full page*/
.about .backgroundImage {
	background-image: url("../images/Renovations-Additions/Cornwall-Heritage-Addition/5.jpg");
	max-width: 100%;
	height: 350px;
	background-size: cover;
}
.about .shadowOverlay {
	height: 1000px;	
}
.about .textContent {
	display: inline-block;
	padding: 1% 10%;
	/*margin-top: 350px;*/
	z-index: 200;
	color: black;
}
.about .textContent h4 {
	display: inline;
}
.about .textContent h5 {
	margin-top: 60px;
	font-size: 16px;
}
.about .textContent p {
	display: inline-block;
}
.about .textContent a {
	color: #905065;
}


/*Full page background*/
/*.about .backgroundImage {
	background-image: url("../images/Renovations-Additions/Cornwall-Heritage-Addition/5.jpg");
	max-width: 100%;
	min-height: 1000px;
	background-size: cover;
}
.about .shadowOverlay {
	background-color: black;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	z-index: 100;
	min-height: 1000px;
}
html:hover .about .shadowOverlay {
	opacity: 0.5;
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	transition: all 1.5s ease;
	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-o-transition-delay: .5s;
	transition-delay: .5s;

}
.about .textContent {
	display: inline-block;
	padding: 5% 10%;
	z-index: 200;
	color: white;
}
.about .textContent h4 {
	display: inline;
}
.about .textContent h5 {
	margin-top: 60px;
	font-size: 16px;
}
.about .textContent p {
	display: inline-block;
}
.about .textContent a {
	color: white;
}
*/





/********************
REVIEWS
********************/

.reviews .backgroundImage {
	background-image: url("../images/Renovations-Additions/Cornwall-Heritage-Addition/5.jpg");
	max-width: 100%;
	/*position: relative;*/
	min-height: 1000px;
	background-size: cover;
}
.reviews .shadowOverlay {
	background-color: black;
	position: relative;
	margin-top: 0px;
	/*opacity: 0;*/
	z-index: 100;
	min-height: 1000px;
}
.reviews .shadowOverlay {
	opacity: 0.5;
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	transition: all 1.5s ease;
	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-o-transition-delay: .5s;
	transition-delay: .5s;

}
.reviews .textContent {
	display: inline-block;
	padding: 5% 10%;
	z-index: 200;
	color: white;
}
.reviews .textContent h4 {
	display: block;
	text-align: right;
	margin-top: -10px;
}
.reviews .textContent p {
	display: inline-block;
	font-weight: 400;
}



/********************
CONTACT
********************/

.contact .backgroundImage {
	background-image: url("../images/Renovations-Additions/Cornwall-Heritage-Addition/5.jpg");
	max-width: 100%;
	/*position: relative;*/
	min-height: 1000px;
	background-size: cover;
}
.contact .shadowOverlay {
	background-color: black;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	z-index: 100;
	min-height: 1000px;
}
html:hover .contact .shadowOverlay {
	opacity: 0.5;
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	transition: all 1.5s ease;
	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-o-transition-delay: .5s;
	transition-delay: .5s;

}
.contact .textContent {
	display: inline-block;
	padding: 5% 10%;
	z-index: 200;
	color: white;
}
.contact .textContent h4 {
	display: inline-block;
}
.contact .textContent p {
	display: inline-block;
	font-weight: 400;
}
.contact .textContent a {
	color: white;
}






/********************
PORTFOLIO
********************/



.portfolio .mainImages .sectionBlurb {
	width: 600px;
}
.portfolio .image .caption {
	display: none;
	text-align: center;
	position: relative;
	bottom: 17%;
	left: 0%;
	z-index: 3000;
	background-color: rgba(0, 0, 0, 0.5);
	height: 50px;
	color: white;
	padding: 10px;
}
.portfolio .slick-center:hover .caption {
	display: block;
}
.portfolio .slick-next,
.portfolio .slick-prev {
	position: absolute;
	top: 50%;
	z-index: 2000;
	opacity: 1;
	line-height: 50px;
	font-size: 50px;
	color: black;
	/*border: 1px solid red;*/
	display: block;
}
.portfolio .mainImages .image {
	display: inline-block;
	height: 650px;
	margin: 0 15px;
}
.portfolio .mainImages img {
	height: 700px;
}
.portfolio .sectionTitle {
	float: left;
}
.portfolio h3 {
	font-weight: 700;
	padding-left: 20px;
}
.portfolio .thumbNav {
	text-align: right;
	display: inline-block;
	height: 50px;
	float: right;
}
.portfolio .thumbNav .navBlurb {
	display: inline-block;
	height: 50px;
	margin: 0;
}
.portfolio .thumbNav .image {
	display: inline-block;
}
.portfolio .thumbNav img {
	height: 50px;
	margin: 0;
	display: inline-block;
}
.portfolio .slick-next {
	/*background-image: url("../images/rightArrow.png");*/
	right: 50px;
	width: 0px;
	height: 0px;
}
.portfolio .slick-prev {
	/*background-image: url("../images/leftArrow.png");*/
	left: 50px;
	width: 0px;
	height: 0px;
}
.portfolio .slick-prev:before, 
.portfolio .slick-next:before {
	font-size: 50px;
	line-height: 50px;
}
.portfolio .slick-next:hover,
.portfolio .slick-prev:hover {
	opacity: 1;
	cursor: pointer;
}
.portfolio .slick-next:hover .slick-slide,
.portfolio .slick-prev:hover .slick-slide{
	opacity: 1;
}
.portfolio .slick-slide,
.portfolio .thumbNav img,
.portfolio .thumbNav .navBlurb {
	opacity: 0.5;
	cursor: pointer;
}
.portfolio .mainImages .image:hover,
.portfolio .thumbNav .image:hover img,
.portfolio .thumbNav .selected,
.portfolio .thumbNav .selected img,
.portfolio .mainImages .slick-center {
	opacity: 1;
}
.portfolio .mainImages .slick-center,
.portfolio .thumbNav .selected,
.portfolio .thumbNav .selected img {
	cursor: default;
}

