/********************
VARIABLES
********************/
/********************
FILES
********************/
header {
  width: 75.75%;
  height: 2.1875em;
  float: left;
  margin-left: 22%;
  background: white;
  text-transform: uppercase;
}

header p {
  /*font-size: 1.80375em;*/
  font-size: 1.75em;
  line-height: 0.8em;
  margin: 20px 0 0 0;
  display: inline-block;
  color: #999;
  padding-left: 1.5%;
  font-weight: 400;
  /*letter-spacing: 0.05em;*/
}

header p:first-child {
  color: #9B5C6C;
  font-size: 1.75em;
  letter-spacing: 0.05em;
  font-weight: 500;
}

aside {
  width: 22%;
  height: 100%;
  position: fixed;
  padding-right: 0.75%;
  margin: 0 0 0 -0.75%;
  top: 0;
  left: 0;
  float: left;
  background: transparent;
  z-index: 9999;
}

aside #logo {
  float: right;
  padding: 0;
  padding-top: 20px;
  width: 112px;
  min-width: 60px;
}

aside nav {
  float: right;
  padding: 0;
  margin: 80px 0 0;
  text-transform: uppercase;
}

aside nav > ul {
  width: 445px;
  margin: 0;
  text-align: right;
}

aside nav li {
  display: block;
  font-size: 1.6875em;
  line-height: 1.6875em;
  padding: 0;
  color: #999;
}

aside nav li a {
  text-decoration: none;
  color: #999;
}

aside nav li a:hover {
  color: black;
}

aside nav .selected {
  font-weight: 500;
  color: #9B5C6C;
}

aside nav .subNav {
  display: none;
  margin: 4% 4%;
}

aside nav .subNav li {
  font-size: 1em;
  line-height: 1.5em;
}

aside nav .subNavVisible {
  display: block;
}

aside .houzzLogo {
  position: absolute;
  bottom: 1.5%;
  right: 3%;
}

aside .houzzLogo img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1000px) {
  header {
    height: 2.1875em;
    position: absolute;
    top: 0;
    left: 150px;
    margin: 0;
  }
  aside {
    width: 100%;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    float: left;
    z-index: 9999;
  }
  aside #logo {
    float: left;
    padding: 1.5% 1.5% 0 1.5%;
  }
  aside nav {
    margin: 0;
    padding: 0;
    text-transform: none;
  }
  aside nav > ul {
    float: left;
    text-align: right;
    position: absolute;
    top: 70px;
    right: 1%;
    width: 96%;
    margin: 0 1.5% 1.5% 1.5%;
    padding: 0;
  }
  aside nav li {
    display: inline-block;
    padding-left: 10px;
  }
  aside nav .subNav {
    position: absolute;
    top: 25px;
    right: 0;
    font-size: 0.8em;
    text-align: right;
    width: 96%;
    margin: 1.5% 0;
    padding: 0;
  }
  aside nav .subNavVisible {
    display: inline-block;
  }
  aside .houzzLogo {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  header {
    left: 15%;
    width: 85%;
  }
  header p {
    font-size: 1.5em;
    padding-left: 1%;
    letter-spacing: 0em;
    line-height: 0.2em;
  }
  header p:first-child {
    letter-spacing: 0.02em;
  }
  aside #logo {
    width: 10%;
  }
}

@media screen and (max-width: 520px) {
  header {
    width: 85%;
    height: 2.1875em;
    position: absolute;
    top: 0;
    left: 70px;
    margin: 0;
  }
  header p {
    margin: 0;
    font-size: 1.1em;
    letter-spacing: 0.02em;
    line-height: 1.2em;
  }
  header p:first-child {
    margin-top: 1%;
    font-size: 1.5em;
    letter-spacing: 0.08em;
  }
  header p:first-child + p {
    display: none;
  }
  aside nav > ul > li {
    font-size: 1.3em !important;
    color: red !important;
  }
  aside nav .subNav {
    top: 30px;
  }
}

@media screen and (max-width: 380px) {
  aside nav > ul {
    top: 100px;
  }
  aside nav > ul > li {
    line-height: 0.9em !important;
  }
  aside nav .subNav {
    top: 50px !important;
  }
  aside nav .subNav li {
    line-height: 0.9em !important;
  }
}

footer {
  color: #999;
  width: 75.75%;
  max-width: 1000px;
  margin-left: 22%;
  float: left;
  z-index: 99999;
  padding: 10px 0;
  font-size: 1em;
}

footer a:link,
footer a:visited {
  color: #999;
  text-decoration: none;
}

footer a:hover {
  color: black;
}

footer .houzzLogoFooter {
  display: none;
  float: left;
  padding: 0 10px;
  margin-top: -5px;
  margin-left: 0.75%;
}

footer .houzzLogoFooter img {
  width: 40px;
  height: 40px;
}

footer .sitemap {
  float: left;
  padding: 3px 10px;
  margin-left: 0.75%;
  display: inline-block;
}

footer .websiteBy {
  float: right;
  display: inline-block;
  padding: 3px 10px;
  margin: 0;
  margin-right: 0.75%;
}

@media screen and (max-width: 1000px) {
  footer {
    width: 100%;
    margin-left: 0;
  }
  footer .houzzLogoFooter {
    display: inline-block;
  }
}

/********************
ABOUT
********************/
.about .contentBackground {
  margin: 1.5%;
  background-image: url("../images/About/CreditRiver-Background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about .textContent {
  padding: 1.5% 5%;
  float: left;
  max-width: 100%;
  background-color: transparent;
  margin: 1.5% auto;
  color: white;
  /*font-variant: small-caps;*/
}

.about h2 {
  text-transform: uppercase;
  /*font-variant: small-caps;*/
  font-weight: 500;
  font-size: 1.2em;
}

.about .centerContent {
  width: 100%;
  float: left;
  background-color: white;
}

.about .textBlurb {
  padding: 0 5%;
  margin: 3% 0 3% 1.5%;
  float: right;
  color: white;
  background-color: #7ba7ba;
  width: 62%;
  min-height: 250px;
}

.about .aboutImage {
  background-image: url("/images/About/Bill-Hall.jpg");
  background-position: 50% 40%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  overflow: hidden;
  width: 24%;
  height: 250px;
  float: left;
  margin: 3% 1.5% 3% 0;
  overflow: hidden;
}

@media screen and (max-width: 520px) {
  .about .textBlurb {
    width: 90%;
    max-width: 90%;
    height: auto;
  }
  .about .aboutImage {
    width: 100%;
    max-width: 100%;
    height: 520px;
    margin-bottom: 0;
  }
}

/********************
REVIEWS
********************/
.reviews .contentBackground {
  margin: 1.5%;
  background-image: url("../images/Reviews/Reviews-Background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 100% 100%;
}

.reviews .textContent {
  min-height: 95vh;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.reviews .review {
  padding: 4% 4% 4% 12%;
  float: left;
  max-width: 100%;
  margin: 0;
  width: 95%;
  color: white;
  border-top: 30px solid white;
}

.reviews .review h3,
.reviews .review h4,
.reviews .review h5 {
  font-size: 1em;
  line-height: 1em;
  padding: 0;
  margin: 0;
}

.reviews .review h4,
.reviews .review h5 {
  display: inline-block;
}

.reviews .review h5 {
  font-weight: normal;
}

.reviews .review p {
  max-width: 600px;
}

.reviews .review1 {
  border: none;
}

.reviews .textBlurb {
  padding: 4%;
  float: left;
  width: 92%;
  color: white;
  background-color: #7ba7ba;
  border-style: solid;
  border-color: white;
  border-width: 30px 0 30px 0;
}

.reviews .textBlurb img {
  max-width: 200px;
  width: 100%;
  margin-bottom: -10px;
  padding: 0 5px 0 30%;
}

@media screen and (max-width: 1000px) {
  .reviews .contentBackground {
    min-height: 85vh;
  }
}

/********************
CONTACT
********************/
.contact .contentBackground {
  margin: 1.5%;
  background-image: url("../images/Contact/HoggsHollowTraditional-4-Background.jpg");
  background-position: 100% 0%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 87vh;
}

.contact .textBlurb {
  padding: 1.5% 5%;
  float: left;
  width: 90%;
  background-color: #7ba7ba;
  margin: 17% 0 1.5% 0;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 25px 0;
  font-size: 1.4em;
  line-height: 1em;
}

.contact .textBlurb p {
  margin: 1.5% 0;
}

.contact .textBlurb a:link,
.contact .textBlurb a:visited {
  text-decoration: none;
  color: white;
}

.contact .textBlurb a:hover {
  text-decoration: underline;
}

.contact i.fa {
  font-size: 0.8em;
  margin: 10px;
}

@media screen and (max-width: 1000px) {
  .contact .contentBackground {
    height: 72vh;
  }
  .contact .textBlurb {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 380px) {
  .contact .textBlurb {
    font-size: 1em;
  }
}

/********************
SITEMAP
********************/
.sitemap .contentBackground {
  margin: 1.5%;
}

.sitemap .textContent {
  background-color: #7ba7ba;
  min-height: 85vh;
  width: 97%;
  padding: 1.5%;
  color: white;
}

.sitemap .textContent ul {
  list-style-type: none;
}

.sitemap .textContent li,
.sitemap .textContent p {
  line-height: 1.7em;
}

.sitemap .textContent p {
  padding: 0;
  margin: 0;
}

.sitemap .textContent li a {
  text-decoration: none;
}

.sitemap .textContent a:link,
.sitemap .textContent a:visited {
  color: white;
}

.sitemap .textContent a:hover {
  color: #DDD;
}

@media screen and (max-width: 1000px) {
  .sitemap .contentBackground {
    height: 75vh;
    min-height: 75vh;
  }
}

@-webkit-keyframes contentFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes contentFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes contentFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes contentStayFaded {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes contentStayFaded {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes contentStayFaded {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentStayFaded {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.layoutAll .image,
.layoutAll .textBlurb {
  padding: 1.5%;
  float: left;
  max-width: 100%;
}

.layoutAll .image,
.layoutAll .textBlurbFiller {
  /*-webkit-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	-moz-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	-o-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;*/
  -webkit-animation: contentFadeIn ease-in 3.5s;
  -moz-animation: contentFadeIn ease-in 3.5s;
  -o-animation: contentFadeIn ease-in 3.5s;
  animation: contentFadeIn ease-in 3.5s;
}

.layoutAll .image1 {
  /*-webkit-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	-moz-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	-o-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;*/
  -webkit-animation: contentFadeIn ease-in 1s;
  -moz-animation: contentFadeIn ease-in 1s;
  -o-animation: contentFadeIn ease-in 1s;
  animation: contentFadeIn ease-in 1s;
}

.layoutAll .image2,
.layoutAll .textBlurb {
  /*-webkit-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	-moz-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	-o-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;*/
  -webkit-animation: contentFadeIn ease-in 1.5s;
  -moz-animation: contentFadeIn ease-in 1.5s;
  -o-animation: contentFadeIn ease-in 1.5s;
  animation: contentFadeIn ease-in 1.5s;
}

.layoutAll .image3 {
  /*-webkit-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	-moz-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	-o-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;*/
  -webkit-animation: contentFadeIn ease-in 2s;
  -moz-animation: contentFadeIn ease-in 2s;
  -o-animation: contentFadeIn ease-in 2s;
  animation: contentFadeIn ease-in 2s;
}

.layoutAll .image4 {
  /*-webkit-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	-moz-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	-o-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;*/
  -webkit-animation: contentFadeIn ease-in 2.5s;
  -moz-animation: contentFadeIn ease-in 2.5s;
  -o-animation: contentFadeIn ease-in 2.5s;
  animation: contentFadeIn ease-in 2.5s;
}

.layoutAll .image5 {
  /*-webkit-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	-moz-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	-o-animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;
	animation: 
		contentFadeIn $fadeInDuration ease-in 1 $delay,
		contentStayFaded $fadeInDuration ease-in infinite $delay2;*/
  -webkit-animation: contentFadeIn ease-in 3s;
  -moz-animation: contentFadeIn ease-in 3s;
  -o-animation: contentFadeIn ease-in 3s;
  animation: contentFadeIn ease-in 3s;
}

.layoutAll a .imageDiv,
.layoutAll .imageDiv {
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.layoutAll a:hover .imageDiv,
.layoutAll .imageDiv:hover {
  opacity: 0.7;
}

.layoutAll a:hover .filler,
.layoutAll .filler:hover {
  opacity: 1;
}

.layoutAll .textBlurb {
  background-color: #7ba7ba;
  margin: 1.5%;
  padding: 0 5%;
  width: 87%;
  min-height: 75px;
  color: white;
  font-size: 0.7em;
}

.layoutAll .textBlurb h2 {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.1em;
}

.layoutAll .textBlurb h3 {
  float: right;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.1em;
  text-align: right;
  margin: 0;
  margin-top: -1.9em;
  color: #CAE1EB;
}

.layoutAll .shadowOverlay {
  width: 100%;
  height: 100%;
  /*background-color: black;*/
}

.layoutAll .textOverlay,
.layoutAll .completionDate {
  position: relative;
  padding: 1%;
  z-index: 200;
  text-shadow: 0px 0px 5px black;
}

.layoutAll .textOverlay {
  margin-top: -50px;
  margin-left: 20px;
}

.layoutAll .completionDate {
  margin-top: -65px;
  margin-right: 20px;
  display: block;
  text-align: right;
  font-size: 0.9em;
}

.layoutAll a {
  text-decoration: none;
  color: white;
  line-height: 1em;
  font-size: 0.85em;
  font-weight: 300;
}

.layoutAll .imageDiv {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.layoutAll .prevProject,
.layoutAll .nextProject {
  font-size: 0.8em;
  color: black;
  padding: 15px 3% 25px 2%;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.layoutAll .prevProject i.fa,
.layoutAll .nextProject i.fa {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.layoutAll .prevProject:hover,
.layoutAll .nextProject:hover {
  color: #999;
}

.layoutAll .prevProject:hover {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  -moz-transform: translateX(18px);
  -o-transform: translateX(18px);
  transform: translateX(18px);
}

.layoutAll .prevProject:hover i.fa {
  color: #999;
  opacity: 1;
  -webkit-transform: translateX(-18px);
  -ms-transform: translateX(-18px);
  -moz-transform: translateX(-18px);
  -o-transform: translateX(-18px);
  transform: translateX(-18px);
}

.layoutAll .nextProject:hover {
  -webkit-transform: translateX(-18px);
  -ms-transform: translateX(-18px);
  -moz-transform: translateX(-18px);
  -o-transform: translateX(-18px);
  transform: translateX(-18px);
}

.layoutAll .nextProject:hover i.fa {
  color: #999;
  opacity: 1;
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  -moz-transform: translateX(18px);
  -o-transform: translateX(18px);
  transform: translateX(18px);
}

.layoutAll .prevProject {
  float: left;
}

.layoutAll .nextProject {
  float: right;
  clear: right;
}

@media screen and (max-width: 750px) {
  .layoutAll .imageFiller {
    display: none !important;
  }
  .layoutAll .imageFiller + .image {
    width: 48% !important;
  }
  .image {
    /*width: 45% !important;*/
  }
}

@media screen and (max-width: 520px) {
  .layoutAll .textBlurbFiller {
    display: none !important;
  }
  .layoutAll .image {
    width: 96% !important;
    max-height: 400px !important;
  }
  .layoutAll .imageFiller + .image {
    width: 96% !important;
  }
  .layoutAll .textBlurb {
    width: 94% !important;
    padding: 0 1% !important;
  }
  .textBlurb h2,
  .textBlurb h3 {
    display: block;
    width: 100%;
  }
  .textBlurb h2 {
    margin-bottom: 4px !important;
  }
  .textBlurb h3 {
    float: none;
    font-size: 1.3em !important;
    text-align: left !important;
    padding: 0 !important;
    margin-top: 0em !important;
  }
}

@media screen and (max-width: 380px) {
  .layoutAll .image {
    max-height: 300px !important;
  }
  .layoutAll .textBlurb {
    font-size: 0.7em !important;
  }
}

.home .layoutAll .imageDiv1 {
  background-image: url("../images/New-Homes/HoggsHollowTraditional-4.jpg");
  background-position: 100% 0%;
}

.home .layoutAll .imageDiv2 {
  background-image: url("../images/New-Homes/KingswayTransitional-1.jpg");
  background-position: 50% 40%;
}

.home .layoutAll .imageDiv3 {
  background-image: url("../images/New-Homes/KingswayTransitional-6.jpg");
  background-position: 50% 40%;
}

.home .layoutAll .imageDiv4 {
  background-image: url("../images/New-Homes/CreditRiver-1.jpg");
  background-position: 50% 40%;
}

.home .layoutAll .imageDiv5 {
  background-image: url("../images/Renovations-Additions/Etobicoke-2.jpg");
  background-position: 50% 40%;
}

.home .layoutAll .imageDiv6 {
  background-image: url("../images/Renovations-Additions/Lytton-Park-3.jpg");
  background-position: 50% 40%;
}

.home .layoutAll .shadowOverlay {
  background-color: black;
}

.layoutHome .image1 {
  width: 45%;
  height: 702.5px;
}

.layoutHome .image2 {
  width: 49%;
  height: 370.29px;
}

.layoutHome .image3 {
  width: 18%;
  height: 299.133px;
}

.layoutHome .image4 {
  width: 28%;
  height: 299.133px;
}

.layoutHome .image5 {
  width: 33%;
  height: 345.874px;
}

.layoutHome .image6 {
  width: 61%;
  height: 345.874px;
}

.newHomesOverview .layoutAll .imageDiv1 {
  background-image: url("../images/New-Homes/HoggsHollowTraditional-4.jpg");
  background-position: 100% 0%;
}

.newHomesOverview .layoutAll .imageDiv2 {
  background-image: url("../images/New-Homes/KingswayTransitional-1.jpg");
  background-position: 50% 40%;
}

.newHomesOverview .layoutAll .imageDiv3 {
  background-image: url("../images/New-Homes/KingswayTransitional-6.jpg");
  background-position: 50% 40%;
}

.newHomesOverview .layoutAll .imageDiv4 {
  background-image: url("../images/New-Homes/CreditRiver-1.jpg");
  background-position: 50% 40%;
}

.newHomesOverview .layoutAll .imageDiv5 {
  background-image: url("../images/New-Homes/Oakville-1.jpg");
  background-position: 50% 40%;
}

.newHomesOverview .layoutAll .imageDiv6 {
  background-image: url("../images/New-Homes/FrenchCountry-4.jpg");
  background-position: 50% 40%;
}

.newHomesOverview .layoutAll .imageDiv6 {
  background-image: url("../images/New-Homes/FrenchCountry-4.jpg");
  background-position: 50% 40%;
}

.newHomesOverview .layoutAll .imageDiv7 {
  background-image: url("../images/New-Homes/KingswayGeorgian-1.jpg");
  background-position: 70% 40%;
}

.newHomesOverview .layoutAll .imageDiv8 {
  background-image: url("../images/New-Homes/KingswayTraditional-1.jpg");
  background-position: 30% 40%;
}

.layoutNewHomes .image1 {
  width: 45%;
  height: 702.5px;
}

.layoutNewHomes .image2 {
  width: 49%;
  height: 370.29px;
}

.layoutNewHomes .image3 {
  width: 18%;
  height: 299.133px;
}

.layoutNewHomes .image4 {
  width: 28%;
  height: 299.133px;
}

.layoutNewHomes .image5 {
  width: 45%;
  height: 300px;
}

.layoutNewHomes .image6 {
  width: 49%;
  height: 300px;
}

.layoutNewHomes .image7 {
  width: 37%;
  height: 450px;
}

.layoutNewHomes .image8 {
  width: 57%;
  height: 450px;
}

.layoutNewHomes .shadowOverlay {
  background-color: black;
}

.renosAndAdditionsOverview .layoutAll .imageDiv1 {
  background-image: url("../images/Renovations-Additions/Lytton-Park-4.jpg");
  background-position: 50% 40%;
}

.renosAndAdditionsOverview .layoutAll .imageDiv2 {
  background-image: url("../images/Renovations-Additions/Etobicoke-2.jpg");
  background-position: 50% 40%;
}

.renosAndAdditionsOverview .layoutAll .imageDiv3 {
  background-image: url("../images/Renovations-Additions/Cornwall-1.jpg");
  background-position: 50% 40%;
}

.renosAndAdditionsOverview .layoutAll .imageDiv4 {
  background-image: url("../images/Renovations-Additions/Rosedale-2.jpg");
  background-position: 50% 40%;
}

.renosAndAdditionsOverview .layoutAll .imageDiv5 {
  background-image: url("../images/Renovations-Additions/Lorne-Park-4.jpg");
  background-position: 50% 40%;
}

.layoutRenovations .image1 {
  width: 45%;
  height: 645px;
}

.layoutRenovations .image2 {
  width: 49%;
  height: 345px;
}

.layoutRenovations .image3 {
  width: 49%;
  height: 265px;
}

.layoutRenovations .image4 {
  width: 45%;
  height: 300px;
}

.layoutRenovations .image5 {
  width: 49%;
  height: 300px;
}

.layoutRenovations .shadowOverlay {
  background-color: black;
}

.upcoming .layoutUpcoming a:hover .imageDiv,
.upcoming .layoutUpcoming .imageDiv:hover {
  opacity: 1;
}

.upcoming .layoutUpcoming .image {
  padding: 4.5%;
}

.upcoming .layoutUpcoming .textBlurb {
  background-color: #7ba7ba;
  margin: 0 4.5% 4.5% 4.5%;
  padding: 0 8%;
  width: 84%;
}

.upcoming .layoutUpcoming .textOverlay,
.upcoming .layoutUpcoming .completionDate {
  position: relative;
  padding: 1%;
  z-index: 200;
}

.upcoming .layoutUpcoming .textOverlay {
  margin-top: 15px;
  margin-left: -20px;
}

.upcoming .layoutUpcoming .completionDate {
  margin-top: -55px;
  margin-right: 20px;
  display: block;
  text-align: right;
}

.upcoming .layoutUpcoming .imageDiv1 {
  background-image: url("../images/Upcoming/Oakville-New-Home-01.jpg");
  background-position: 50% 80%;
}

.upcoming .layoutUpcoming .imageDiv2 {
  background-image: url("../images/Upcoming/StGeorges-GC.jpg");
  background-position: 50% 80%;
}

.upcoming .layoutUpcoming .imageDiv4 {
  background-image: url("../images/Upcoming/Before-StGeorges.jpg");
  background-position: 50% 80%;
}

.upcoming .layoutUpcoming .imageDiv3 {
  background-image: url("../images/Upcoming/King-Georges6.jpg");
  background-position: 50% 58%;
}

.layoutUpcoming .image1 {
  width: 97%;
  height: 400px;
}

.layoutUpcoming .image2 {
  width: 97%;
  height: 400px;
}

.layoutUpcoming .image4 {
  width: 45%;
  height: 170px;
  float: right;
  margin-top: -115px;
}

.layoutUpcoming .image3 {
  width: 97%;
  height: 500px;
}

.layoutUpcoming .shadowOverlay {
  background-color: black;
}

.hoggsHollowTraditional .layoutAll a:hover .imageDiv,
.hoggsHollowTraditional .layoutAll .imageDiv:hover {
  opacity: 1;
}

.hoggsHollowTraditional .layoutAll .imageDiv1 {
  background-image: url("../images/New-Homes/HoggsHollowTraditional-4.jpg");
  background-position: 100% 0%;
}

.hoggsHollowTraditional .layoutAll .imageDiv2 {
  background-image: url("../images/New-Homes/HoggsHollowTraditional-1.jpg");
  background-position: 50% 40%;
}

.hoggsHollowTraditional .layoutAll .imageDiv3 {
  background-image: url("../images/New-Homes/HoggsHollowTraditional-2.jpg");
  background-position: 50% 40%;
}

.hoggsHollowTraditional .layoutAll .imageDiv4 {
  background-image: url("../images/New-Homes/HoggsHollowTraditional-3.jpg");
  background-position: 50% 40%;
}

.hoggsHollowTraditional .layoutAll .imageDiv5 {
  background-image: url("../images/New-Homes/HoggsHollowTraditional-5.jpg");
  background-position: 50% 40%;
}

.layoutNewHomesHoggsHollowTraditional .image1 {
  width: 45%;
  height: 645px;
}

.layoutNewHomesHoggsHollowTraditional .image2 {
  width: 49%;
  height: 340px;
}

.layoutNewHomesHoggsHollowTraditional .image3 {
  width: 49%;
  height: 270px;
}

.layoutNewHomesHoggsHollowTraditional .image4 {
  width: 45%;
  height: 300px;
}

.layoutNewHomesHoggsHollowTraditional .image5 {
  width: 49%;
  height: 300px;
}

.layoutNewHomesHoggsHollowTraditional .shadowOverlay {
  background-color: black;
}

.kingswayTransitional .layoutAll a:hover .imageDiv,
.kingswayTransitional .layoutAll .imageDiv:hover {
  opacity: 1;
}

.kingswayTransitional .layoutAll .imageDiv1 {
  background-image: url("../images/New-Homes/KingswayTransitional-1.jpg");
  background-position: 50% 40%;
}

.kingswayTransitional .layoutAll .imageDiv2 {
  background-image: url("../images/New-Homes/KingswayTransitional-2.jpg");
  background-position: 50% 40%;
}

.kingswayTransitional .layoutAll .imageDiv3 {
  background-image: url("../images/New-Homes/KingswayTransitional-6.jpg");
  background-position: 50% 40%;
}

.kingswayTransitional .layoutAll .imageDiv4 {
  background-image: url("../images/New-Homes/KingswayTransitional-3.jpg");
  background-position: 50% 40%;
}

.kingswayTransitional .layoutAll .imageDiv5 {
  background-image: url("../images/New-Homes/KingswayTransitional-5.jpg");
  background-position: 50% 40%;
}

.kingswayTransitional .layoutAll .imageDiv6 {
  background-image: url("../images/New-Homes/KingswayTransitional-4.jpg");
  background-position: 50% 40%;
}

.kingswayTransitional .layoutAll .imageDiv7 {
  background-image: url("../images/New-Homes/KingswayTransitional-7.jpg");
  background-position: 50% 40%;
}

.kingswayTransitional .layoutAll .imageDiv8 {
  background-image: url("../images/New-Homes/KingswayTransitional-8.jpg");
  background-position: 50% 40%;
}

.layoutNewHomesKingswayTransitional .image1 {
  width: 97%;
  height: 630px;
}

.layoutNewHomesKingswayTransitional .image2 {
  width: 39%;
  height: 290px;
}

.layoutNewHomesKingswayTransitional .image3 {
  width: 26%;
  height: 290px;
}

.layoutNewHomesKingswayTransitional .image4 {
  width: 26%;
  height: 290px;
}

.layoutNewHomesKingswayTransitional .image5 {
  width: 47%;
  height: 340px;
}

.layoutNewHomesKingswayTransitional .image6 {
  width: 47%;
  height: 260px;
}

.layoutNewHomesKingswayTransitional .textBlurbFiller {
  background-color: #7ba7ba;
  margin: 1.5%;
  width: 47%;
  min-height: 40px;
  float: left;
}

.layoutNewHomesKingswayTransitional .image7 {
  width: 55%;
  height: 340px;
}

.layoutNewHomesKingswayTransitional .image8 {
  width: 39%;
  height: 340px;
}

.layoutNewHomesKingswayTransitional .shadowOverlay {
  background-color: black;
}

.creditRiverClassic .layoutAll a:hover .imageDiv,
.creditRiverClassic .layoutAll .imageDiv:hover {
  opacity: 1;
}

.creditRiverClassic .layoutAll .imageDiv1 {
  background-image: url("../images/New-Homes/CreditRiver-3.jpg");
  background-position: 50% 40%;
}

.creditRiverClassic .layoutAll .imageDiv2 {
  background-image: url("../images/New-Homes/CreditRiver-1b.jpg");
  background-position: 50% 40%;
}

.creditRiverClassic .layoutAll .imageDiv3 {
  background-image: url("../images/New-Homes/CreditRiver-10.jpg");
  background-position: 50% 40%;
}

.creditRiverClassic .layoutAll .imageDiv4 {
  background-image: url("../images/New-Homes/CreditRiver-4.jpg");
  background-position: 50% 40%;
}

.creditRiverClassic .layoutAll .imageDiv5 {
  background-image: url("../images/New-Homes/CreditRiver-5.jpg");
  background-position: 50% 40%;
}

.creditRiverClassic .layoutAll .imageDiv6 {
  background-image: url("../images/New-Homes/CreditRiver-7.jpg");
  background-position: 50% 40%;
}

.creditRiverClassic .layoutAll .imageDiv7 {
  background-image: url("../images/New-Homes/CreditRiver-6.jpg");
  background-position: 50% 40%;
}

.creditRiverClassic .layoutAll .imageDiv8 {
  background-image: url("../images/New-Homes/CreditRiver-8.jpg");
  background-position: 50% 40%;
}

.creditRiverClassic .layoutAll .imageDiv9 {
  background-image: url("../images/New-Homes/CreditRiver-9.jpg");
  background-position: 50% 40%;
}

.creditRiverClassic .layoutAll .imageDiv10 {
  background-image: url("../images/New-Homes/CreditRiver-12.jpg");
  background-position: 50% 40%;
}

.creditRiverClassic .layoutAll .imageDiv11 {
  background-image: url("../images/New-Homes/CreditRiver-11.jpg");
  background-position: 50% 40%;
}

.creditRiverClassic .layoutAll .imageDiv12 {
  background-image: url("../images/New-Homes/CreditRiver-13.jpg");
  background-position: 50% 40%;
}

.layoutNewHomesCreditRiverClassic .image1 {
  width: 45%;
  height: 645px;
}

.layoutNewHomesCreditRiverClassic .image2 {
  width: 49%;
  height: 340px;
}

.layoutNewHomesCreditRiverClassic .image3 {
  width: 49%;
  height: 270px;
}

.layoutNewHomesCreditRiverClassic .image4 {
  width: 45%;
  height: 300px;
}

.layoutNewHomesCreditRiverClassic .image5 {
  width: 49%;
  height: 300px;
}

.layoutNewHomesCreditRiverClassic .image6 {
  width: 45%;
  height: 300px;
}

.layoutNewHomesCreditRiverClassic .image7 {
  width: 49%;
  height: 300px;
}

.layoutNewHomesCreditRiverClassic .image8 {
  width: 97%;
  height: 600px;
}

.layoutNewHomesCreditRiverClassic .image9 {
  width: 45%;
  height: 675px;
}

.layoutNewHomesCreditRiverClassic .image10 {
  width: 49%;
  height: 305px;
}

.layoutNewHomesCreditRiverClassic .image11 {
  width: 49%;
  height: 332px;
}

.layoutNewHomesCreditRiverClassic .image12 {
  width: 97%;
  height: 550px;
}

.layoutNewHomesCreditRiverClassic .shadowOverlay {
  background-color: black;
}

.oakvilleExecutiveHome .layoutAll a:hover .imageDiv,
.oakvilleExecutiveHome .layoutAll .imageDiv:hover {
  opacity: 1;
}

.oakvilleExecutiveHome .layoutAll .imageDiv1 {
  background-image: url("../images/New-Homes/Oakville-1.jpg");
  background-position: 50% 40%;
}

.oakvilleExecutiveHome .layoutAll .imageDiv2 {
  background-image: url("../images/New-Homes/Oakville-2.jpg");
  background-position: 50% 40%;
}

.oakvilleExecutiveHome .layoutAll .imageDiv3 {
  background-image: url("../images/New-Homes/Oakville-3.jpg");
  background-position: 50% 40%;
}

.layoutNewHomesOakvilleExecutiveHome .image1 {
  width: 97%;
  height: 600px;
}

.layoutNewHomesOakvilleExecutiveHome .image2 {
  width: 59%;
  height: 480px;
}

.layoutNewHomesOakvilleExecutiveHome .image3 {
  width: 35%;
  height: 480px;
}

.layoutNewHomesOakvilleExecutiveHome .shadowOverlay {
  background-color: black;
}

.hoggsHollowFrenchCountry .layoutAll a:hover .imageDiv,
.hoggsHollowFrenchCountry .layoutAll .imageDiv:hover {
  opacity: 1;
}

.hoggsHollowFrenchCountry .layoutAll .imageDiv1 {
  background-image: url("../images/New-Homes/FrenchCountry-4.jpg");
  background-position: 50% 40%;
}

.hoggsHollowFrenchCountry .layoutAll .imageDiv2 {
  background-image: url("../images/New-Homes/FrenchCountry-2.jpg");
  background-position: 50% 40%;
}

.hoggsHollowFrenchCountry .layoutAll .imageDiv3 {
  background-image: url("../images/New-Homes/FrenchCountry-3.jpg");
  background-position: 50% 40%;
}

.hoggsHollowFrenchCountry .layoutAll .imageDiv4 {
  background-image: url("../images/New-Homes/FrenchCountry-1.jpg");
  background-position: 50% 40%;
}

.hoggsHollowFrenchCountry .layoutAll .imageDiv5 {
  background-image: url("../images/New-Homes/FrenchCountry-7.jpg");
  background-position: 50% 40%;
}

.hoggsHollowFrenchCountry .layoutAll .imageDiv6 {
  background-image: url("../images/New-Homes/FrenchCountry-5.jpg");
  background-position: 100% 40%;
}

.layoutNewHomesHoggsHollowFrenchCountry .image1 {
  width: 60%;
  height: 390px;
}

.layoutNewHomesHoggsHollowFrenchCountry .image2 {
  width: 34%;
  height: 390px;
}

.layoutNewHomesHoggsHollowFrenchCountry .image3 {
  width: 45%;
  height: 290px;
}

.layoutNewHomesHoggsHollowFrenchCountry .image4 {
  width: 49%;
  height: 290px;
}

.layoutNewHomesHoggsHollowFrenchCountry .image5 {
  width: 60%;
  height: 365px;
}

.layoutNewHomesHoggsHollowFrenchCountry .image6 {
  width: 34%;
  height: 365px;
}

.layoutNewHomesHoggsHollowFrenchCountry .shadowOverlay {
  background-color: black;
}

.kingswayTraditional .layoutAll a:hover .imageDiv,
.kingswayTraditional .layoutAll .imageDiv:hover {
  opacity: 1;
}

.kingswayTraditional .layoutAll .imageDiv1 {
  background-image: url("../images/New-Homes/KingswayTraditional-1.jpg");
  background-position: 50% 40%;
}

.kingswayTraditional .layoutAll .imageDiv2 {
  background-image: url("../images/New-Homes/KingswayTraditional-2.jpg");
  background-position: 50% 40%;
}

.kingswayTraditional .layoutAll .imageDiv3 {
  background-image: url("../images/New-Homes/KingswayTraditional-3.jpg");
  background-position: 50% 40%;
}

.kingswayTraditional .layoutAll .imageDiv4 {
  background-image: url("../images/New-Homes/KingswayTraditional-4.jpg");
  background-position: 50% 40%;
}

.kingswayTraditional .layoutAll .imageDiv5 {
  background-image: url("../images/New-Homes/KingswayTraditional-6.jpg");
  background-position: 50% 40%;
}

.kingswayTraditional .layoutAll .imageDiv6 {
  background-image: url("../images/New-Homes/KingswayTraditional-5.jpg");
  background-position: 50% 40%;
}

.layoutNewHomesKingswayTraditional .image1 {
  width: 97%;
  height: 630px;
}

.layoutNewHomesKingswayTraditional .image2 {
  width: 31%;
  height: 425px;
}

.layoutNewHomesKingswayTraditional .image3 {
  width: 63%;
  height: 425px;
}

.layoutNewHomesKingswayTraditional .image4 {
  width: 97%;
  height: 525px;
}

.layoutNewHomesKingswayTraditional .image5 {
  width: 50%;
  height: 270px;
  float: right;
}

.layoutNewHomesKingswayTraditional .image6 {
  width: 44%;
  height: 200px;
}

.layoutNewHomesKingswayTraditional .textBlurbFiller {
  background-color: #7ba7ba;
  margin: 1.5%;
  width: 44%;
  min-height: 40px;
  float: left;
}

.layoutNewHomesKingswayTraditional .shadowOverlay {
  background-color: black;
}

.kingswayGeorgian .layoutAll a:hover .imageDiv,
.kingswayGeorgian .layoutAll .imageDiv:hover {
  opacity: 1;
}

.kingswayGeorgian .layoutAll .imageDiv1 {
  background-image: url("../images/New-Homes/KingswayGeorgian-1.jpg");
  background-position: 50% 40%;
}

.kingswayGeorgian .layoutAll .imageDiv2 {
  background-image: url("../images/New-Homes/KingswayGeorgian-2.jpg");
  background-position: 50% 40%;
}

.kingswayGeorgian .layoutAll .imageDiv3 {
  background-image: url("../images/New-Homes/KingswayGeorgian-3.jpg");
  background-position: 50% 40%;
}

.kingswayGeorgian .layoutAll .imageDiv4 {
  background-image: url("../images/New-Homes/KingswayGeorgian-4.jpg");
  background-position: 50% 40%;
}

.kingswayGeorgian .layoutAll .imageDiv5 {
  background-image: url("../images/New-Homes/KingswayGeorgian-6.jpg");
  background-position: 50% 40%;
}

.kingswayGeorgian .layoutAll .imageDiv6 {
  background-image: url("../images/New-Homes/KingswayGeorgian-5.jpg");
  background-position: 50% 40%;
}

.layoutNewHomesKingswayGeorgian .image1 {
  width: 97%;
  height: 750px;
}

.layoutNewHomesKingswayGeorgian .image2 {
  width: 31%;
  height: 400px;
}

.layoutNewHomesKingswayGeorgian .image3 {
  width: 63%;
  height: 830px;
  float: right;
}

.layoutNewHomesKingswayGeorgian .image4 {
  width: 31%;
  height: 400px;
}

.layoutNewHomesKingswayGeorgian .image5 {
  width: 47%;
  height: 350px;
  float: right;
}

.layoutNewHomesKingswayGeorgian .image6 {
  width: 47%;
  height: 350px;
}

.layoutNewHomesKingswayGeorgian .shadowOverlay {
  background-color: black;
}

.lyttonParkUpdate .layoutAll a:hover .imageDiv,
.lyttonParkUpdate .layoutAll .imageDiv:hover {
  opacity: 1;
}

.lyttonParkUpdate .layoutAll .imageDiv1 {
  background-image: url("../images/Renovations-Additions/Lytton-Park-2.jpg");
  background-position: 50% 40%;
}

.lyttonParkUpdate .layoutAll .imageDiv2 {
  background-image: url("../images/Renovations-Additions/Lytton-Park-1.jpg");
  background-position: 50% 40%;
}

.lyttonParkUpdate .layoutAll .imageDiv3 {
  background-image: url("../images/Renovations-Additions/Lytton-Park-4.jpg");
  background-position: 50% 40%;
}

.lyttonParkUpdate .layoutAll .imageDiv4 {
  background-image: url("../images/Renovations-Additions/Lytton-Park-5.jpg");
  background-position: 50% 40%;
}

.lyttonParkUpdate .layoutAll .imageDiv5 {
  background-image: url("../images/Renovations-Additions/Lytton-Park-3.jpg");
  background-position: 50% 40%;
}

.layoutRenovationsLyttonParkUpdate .image1 {
  width: 97%;
  height: 600px;
}

.layoutRenovationsLyttonParkUpdate .image2 {
  width: 51%;
  height: 350px;
}

.layoutRenovationsLyttonParkUpdate .image3 {
  width: 43%;
  height: 700px;
  float: right;
}

.layoutRenovationsLyttonParkUpdate .image4 {
  width: 51%;
  height: 310px;
}

.layoutRenovationsLyttonParkUpdate .image5 {
  width: 97%;
  height: 450px;
}

.layoutRenovationsLyttonParkUpdate .shadowOverlay {
  background-color: black;
}

.etobicokeRenewal .layoutAll a:hover .imageDiv,
.etobicokeRenewal .layoutAll .imageDiv:hover {
  opacity: 1;
}

.etobicokeRenewal .layoutAll .imageDiv1 {
  background-image: url("../images/Renovations-Additions/Etobicoke-2.jpg");
  background-position: 50% 40%;
}

.etobicokeRenewal .layoutAll .imageDiv2 {
  background-image: url("../images/Renovations-Additions/Etobicoke-7.jpg");
  background-position: 50% 40%;
}

.etobicokeRenewal .layoutAll .imageDiv3 {
  background-image: url("../images/Renovations-Additions/Etobicoke-6.jpg");
  background-position: 50% 40%;
}

.etobicokeRenewal .layoutAll .imageDiv4 {
  background-image: url("../images/Renovations-Additions/Etobicoke-1.jpg");
  background-position: 50% 40%;
}

.etobicokeRenewal .layoutAll .imageDiv5 {
  background-image: url("../images/Renovations-Additions/Etobicoke-5.jpg");
  background-position: 50% 40%;
}

.etobicokeRenewal .layoutAll .imageDiv6 {
  background-image: url("../images/Renovations-Additions/Etobicoke-4.jpg");
  background-position: 50% 40%;
}

.etobicokeRenewal .layoutAll .imageDiv7 {
  background-image: url("../images/Renovations-Additions/Etobicoke-8.jpg");
  background-position: 50% 40%;
}

.layoutRenovationsEtobicokeRenewal .image1 {
  width: 59%;
  height: 480px;
}

.layoutRenovationsEtobicokeRenewal .image2 {
  width: 35%;
  height: 215px;
  float: right;
}

.layoutRenovationsEtobicokeRenewal .image3 {
  width: 35%;
  height: 505px;
  float: right;
}

.layoutRenovationsEtobicokeRenewal .image4 {
  width: 28%;
  height: 240px;
}

.layoutRenovationsEtobicokeRenewal .image5 {
  width: 28%;
  height: 240px;
}

.layoutRenovationsEtobicokeRenewal .image6 {
  width: 45%;
  height: 390px;
}

.layoutRenovationsEtobicokeRenewal .image7 {
  width: 49%;
  height: 390px;
}

.layoutRenovationsEtobicokeRenewal .shadowOverlay {
  background-color: black;
}

.cornwallHeritageAddition .layoutAll a:hover .imageDiv,
.cornwallHeritageAddition .layoutAll .imageDiv:hover {
  opacity: 1;
}

.cornwallHeritageAddition .layoutAll .imageDiv1 {
  background-image: url("../images/Renovations-Additions/Cornwall-1.jpg");
  background-position: 50% 40%;
}

.cornwallHeritageAddition .layoutAll .imageDiv2 {
  background-image: url("../images/Renovations-Additions/Cornwall-2.jpg");
  background-position: 50% 40%;
}

.cornwallHeritageAddition .layoutAll .imageDiv3 {
  background-image: url("../images/Renovations-Additions/Cornwall-3.jpg");
  background-position: 50% 40%;
}

.cornwallHeritageAddition .layoutAll .imageDiv4 {
  background-image: url("../images/Renovations-Additions/Cornwall-4.jpg");
  background-position: 50% 40%;
}

.cornwallHeritageAddition .layoutAll .imageDiv5 {
  background-image: url("../images/Renovations-Additions/Cornwall-5.jpg");
  background-position: 50% 40%;
}

.cornwallHeritageAddition .layoutAll .imageDiv6 {
  background-image: url("../images/Renovations-Additions/Cornwall-6.jpg");
  background-position: 50% 40%;
}

.layoutRenovationsCornwallHeritageAddition .image1 {
  width: 97%;
  height: 620px;
}

.layoutRenovationsCornwallHeritageAddition .image2 {
  width: 59%;
  height: 810px;
}

.layoutRenovationsCornwallHeritageAddition .image3 {
  width: 35%;
  height: 485px;
}

.layoutRenovationsCornwallHeritageAddition .image4 {
  width: 35%;
  height: 290px;
}

.layoutRenovationsCornwallHeritageAddition .image5 {
  width: 59%;
  height: 350px;
}

.layoutRenovationsCornwallHeritageAddition .image6 {
  width: 35%;
  height: 350px;
}

.layoutRenovationsCornwallHeritageAddition .shadowOverlay {
  background-color: black;
}

.rosedaleRevival .layoutAll a:hover .imageDiv,
.rosedaleRevival .layoutAll .imageDiv:hover {
  opacity: 1;
}

.rosedaleRevival .layoutAll .imageDiv1 {
  background-image: url("../images/Renovations-Additions/Rosedale-2.jpg");
  background-position: 50% 40%;
}

.rosedaleRevival .layoutAll .imageDiv2 {
  background-image: url("../images/Renovations-Additions/Rosedale-1.jpg");
  background-position: 50% 40%;
}

.rosedaleRevival .layoutAll .imageDiv3 {
  background-image: url("../images/Renovations-Additions/Rosedale-3.jpg");
  background-position: 50% 40%;
}

.layoutRenovationsRosedaleRevival .image1 {
  width: 97%;
  height: 650px;
}

.layoutRenovationsRosedaleRevival .image2 {
  width: 45%;
  height: 375px;
}

.layoutRenovationsRosedaleRevival .image3 {
  width: 49%;
  height: 375px;
}

.layoutRenovationsRosedaleRevival .shadowOverlay {
  background-color: black;
}

.lorneParkInterior .layoutAll a:hover .imageDiv,
.lorneParkInterior .layoutAll .imageDiv:hover {
  opacity: 1;
}

.lorneParkInterior .layoutAll .imageDiv1 {
  background-image: url("../images/Renovations-Additions/Lorne-Park-2.jpg");
  background-position: 50% 40%;
}

.lorneParkInterior .layoutAll .imageDiv2 {
  background-image: url("../images/Renovations-Additions/Lorne-Park-4.jpg");
  background-position: 50% 40%;
}

.lorneParkInterior .layoutAll .imageDiv3 {
  background-image: url("../images/Renovations-Additions/Lorne-Park-1.jpg");
  background-position: 50% 40%;
}

.lorneParkInterior .layoutAll .imageDiv4 {
  background-image: url("../images/Renovations-Additions/Lorne-Park-5.jpg");
  background-position: 50% 30%;
}

.lorneParkInterior .layoutAll .imageDiv5 {
  background-image: url("../images/Renovations-Additions/Lorne-Park-6.jpg");
  background-position: 50% 30%;
}

.layoutRenovationsLorneParkInterior .image1 {
  width: 20%;
  height: 225px;
}

.layoutRenovationsLorneParkInterior .image2 {
  width: 74%;
  height: 480px;
  float: right;
}

.layoutRenovationsLorneParkInterior .image3 {
  width: 20%;
  height: 225px;
}

.layoutRenovationsLorneParkInterior .image4 {
  width: 47%;
  height: 260px;
}

.layoutRenovationsLorneParkInterior .image5 {
  width: 47%;
  height: 260px;
}

.layoutRenovationsLorneParkInterior .shadowOverlay {
  background-color: black;
}

/*@import 'layoutRenovationsRoyalYorkFacelift';*/
/********************
GENERAL
********************/
* {
  /*box-sizing: border-box;*/
  /*border: 1px solid red;*/
}

html,
body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
}

.contentWrapper {
  width: 75.75%;
  max-width: 1000px;
  float: left;
  font-size: 1.653em;
  margin-top: 0;
  margin-left: 22%;
  min-height: 82vh;
  overflow: hidden;
}

.contact .contentWrapper,
.about .contentWrapper,
.reviews .contentWrapper,
.sitemap .contentWrapper {
  font-size: 1.2em;
}

@media screen and (max-width: 1000px) {
  .contentWrapper {
    width: 100%;
    max-width: 100%;
    float: left;
    margin-top: 6em;
    margin-left: 0;
    min-height: 72vh;
  }
}

@media screen and (max-width: 380px) {
  .contentWrapper {
    margin-top: 7em;
  }
}

/********************
CLEARFIX
********************/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
