
/********************
CONTACT
********************/

.contact {
	.contentBackground {
		margin: $spacing;
		background-image: url("../images/Contact/HoggsHollowTraditional-4-Background.jpg");
		background-position: 100% 0%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: $viewportHeightContact;
	}
	.textBlurb {
		padding: $spacing 5%;
		float: left;
		width: 90%;
		background-color: #7ba7ba;
		margin: 17% 0 $spacing 0;
		color: white;
		border-style: solid;
		border-color: white;
		border-width: 25px 0;
		font-size: 1.4em;
		line-height: 1em;
	}
	.textBlurb p {
		margin: $spacing 0;
	}
	.textBlurb a:link,
	.textBlurb a:visited {
		text-decoration: none;
		color: white;
	}
	.textBlurb a:hover {
		text-decoration: underline;
	}
	i.fa {
		font-size: 0.8em;
		margin: 10px;
	}
}

@media screen and (max-width: $breakpointLarge) {
	.contact .contentBackground {
		height: $viewportHeightContactLarge;
	}
	.contact .textBlurb {
		font-size: 1.2em;
	}
}

@media screen and (max-width: $breakpointExtraSmall) {
	.contact .textBlurb {
		font-size: 1em;
	}
}