@-webkit-keyframes contentFadeIn {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}
@-moz-keyframes contentFadeIn {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}
@-o-keyframes contentFadeIn {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}
@keyframes contentFadeIn {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}
@-webkit-keyframes contentStayFaded {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 0.3;
	}
}
@-moz-keyframes contentStayFaded {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 0.3;
	}
}
@-o-keyframes contentStayFaded {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 0.3;
	}
}
@keyframes contentStayFaded {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 0.3;
	}
}