$content-size: 88vh;
/********************
CONTACT
********************/
.contact {
	.contentWrapper {
		min-height: $content-size;
		background: black;
	}
}
.contact .backgroundImage {
	background-image: url("../images/Renovations-Additions/Cornwall-Heritage-Addition/5.jpg");
	max-width: 100%;
	/*position: relative;*/
	min-height: 1000px;
	background-size: cover;
}
.contact .shadowOverlay {
	background-color: black;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	z-index: 100;
	min-height: 1000px;
}
html:hover .contact .shadowOverlay {
	opacity: 0.5;
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	transition: all 1.5s ease;
	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-o-transition-delay: .5s;
	transition-delay: .5s;

}
.contact .textContent {
	display: inline-block;
	padding: 5% 10%;
	z-index: 200;
	color: white;
}
.contact .textContent h4 {
	display: inline-block;
}
.contact .textContent p {
	display: inline-block;
	font-weight: 400;
}
.contact .textContent a {
	color: white;
}