
header {
	width: $contentWrapperWidth;
	height: $headerHeight;
	float: left;
	margin-left: $asideWidth;
	background: white;
	text-transform: uppercase;
}
header p {
	/*font-size: 1.80375em;*/
	font-size: 1.75em;
	line-height: 0.8em;
	margin: 20px 0 0 0;
	display: inline-block;
	color: $grayLinkColour;
	padding-left: $spacing;
	font-weight: 400;
	/*letter-spacing: 0.05em;*/
}
header p:first-child{
	color: $architraveLogoColour;
	font-size: 1.75em;
	letter-spacing: 0.05em;
	font-weight: 500;
}
aside {
	width: $asideWidth;
	height: 100%;
	position: fixed;
	padding-right: $spacingHalf;
	margin: 0 0 0 $negativeSpacingHalf;
	top: 0;
	left: 0;
	float: left;
	background: transparent;
	z-index: 9999;
}
aside #logo {
	float: right;
	padding: 0;
	padding-top: 20px;
	width: 112px;
	min-width: 60px;
}
aside nav {
	float: right;
	padding: 0;
	margin: 80px 0 0;
	text-transform: uppercase;
}
aside nav > ul {
	width: 445px;
	margin: 0;
	text-align: right;
}
aside nav li {
	display: block;
	font-size: 1.6875em;
	line-height: 1.6875em;
	padding: 0;
	color: $grayLinkColour;
}
aside nav li a {
	text-decoration: none;
	color: $grayLinkColour;
}
aside nav li a:hover {
	color: black;
}
aside nav .selected {
	font-weight: 500;
	color: $architraveLogoColour;
}
aside nav .subNav {
	display: none;
	margin: 4% 4%;
}
aside nav .subNav li {
	font-size: 1em;
	line-height: 1.5em;
}
aside nav .subNavVisible {
	display: block;
}
aside .houzzLogo {
	position: absolute;
	bottom: $spacing;
	right: 3%;
}
aside .houzzLogo img {
	width: 50px;
	height: 50px;
}


@media screen and (max-width: $breakpointLarge) {
	header {
		height: $headerHeight;
		position: absolute;
		top: 0;
		left: 150px;
		margin: 0;
	}
	aside {
		width: 100%;
		height: 0px;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		float: left;
		z-index: 9999;
	}
	aside #logo {
		float: left;
		padding: $spacing $spacing 0 $spacing;
	}
	aside nav {
		margin: 0;
		padding: 0;
		text-transform: none;
	}
	aside nav > ul {
		float: left;
		text-align: right;
		position: absolute;
		top: 70px;
		right: 1%;
		width: 96%;
		margin: 0 $spacing $spacing $spacing;
		padding: 0;
	}
	aside nav li {
		display: inline-block;
		padding-left: 10px;
	}
	aside nav .subNav {
		position: absolute;
		top: 25px;
		right: 0;
		font-size: 0.8em;
		text-align: right;
		width: 96%;
		margin: $spacing 0;
		padding: 0;
	}
	aside nav .subNavVisible {
		display: inline-block;
	}
	aside .houzzLogo {
		display: none;
	}
}

@media screen and (max-width: $breakpointMedium) {
	header {
		left: 15%;
		width: 85%;
	}
	header p {
		font-size: 1.5em;
		padding-left: 1%;
		letter-spacing: 0em;
		line-height: 0.2em;
	}
	header p:first-child{
		letter-spacing: 0.02em;
	}
	aside #logo {
		width: 10%;
	}
}

@media screen and (max-width: $breakpointSmall) {
	header {
		width: 85%;
		height: $headerHeight;
		position: absolute;
		top: 0;
		left: 70px;
		margin: 0;
	}
	header p {
		margin: 0;
		font-size: 1.1em;
		letter-spacing: 0.02em;
		line-height: 1.2em;
	}
	header p:first-child {
		margin-top: 1%;
		font-size: 1.5em;
		letter-spacing: 0.08em;
	}
	header p:first-child + p {
		display: none;
	}
	aside nav > ul > li {
		font-size: 1.3em !important;
		color: red !important;
	}
	aside nav .subNav {
		top: 30px;
	}
}

@media screen and (max-width: $breakpointExtraSmall) {
	aside nav > ul {
		top: 100px;
	}
	aside nav > ul > li {
		line-height: 0.9em !important;
	}
	aside nav .subNav {
		top: 50px !important;
	}
	aside nav .subNav li {
		line-height: 0.9em !important;
	}
}