
.home .layoutAll {
	.imageDiv1 {
		background-image: url('../images/New-Homes/HoggsHollowTraditional-4.jpg');
		background-position: 50% 40%;
	}
	.imageDiv2 {
		background-image: url('../images/New-Homes/Kingsway-1.jpg');
		background-position: 50% 40%;
	}
	.imageDiv3 {
		background-image: url('../images/New-Homes/Kingsway-6.jpg');
		background-position: 50% 40%;
	}
	.imageDiv4 {
		background-image: url('../images/New-Homes/CreditRiver-1.jpg');
		background-position: 50% 40%;
	}
	.imageDiv5 {
		background-image: url('../images/Renovations-Additions/Etobicoke-2.jpg');
		background-position: 50% 40%;
	}
	.imageDiv6 {
		background-image: url('../images/Renovations-Additions/Lytton-Park-3.jpg');
		background-position: 50% 40%;
	}

}