
.etobicokeRenewal .layoutAll {
	.imageDiv:hover {
		opacity: 1;
	}

	.imageDiv1 {
		background-image: url('../images/Renovations-Additions/Etobicoke-2.jpg');
		background-position: 50% 40%;
	}
	.imageDiv2 {
		background-image: url('../images/Renovations-Additions/Etobicoke-7.jpg');
		background-position: 50% 40%;
	}
	.imageDiv3 {
		background-image: url('../images/Renovations-Additions/Etobicoke-6.jpg');
		background-position: 50% 40%;
	}
	.imageDiv4 {
		background-image: url('../images/Renovations-Additions/Etobicoke-1.jpg');
		background-position: 50% 40%;
	}
	.imageDiv5 {
		background-image: url('../images/Renovations-Additions/Etobicoke-5.jpg');
		background-position: 50% 40%;
	}
	.imageDiv6 {
		background-image: url('../images/Renovations-Additions/Etobicoke-4.jpg');
		background-position: 50% 40%;
	}
	.imageDiv7 {
		background-image: url('../images/Renovations-Additions/Etobicoke-8.jpg');
		background-position: 50% 40%;
	}

}