
.hoggsHollowTraditional .layoutAll {
	.imageDiv:hover {
		opacity: 1;
	}

	.imageDiv1 {
		background-image: url('../images/New-Homes/HoggsHollowTraditional-4.jpg');
		background-position: 50% 40%;
	}
	.imageDiv2 {
		background-image: url('../images/New-Homes/HoggsHollowTraditional-1.jpg');
		background-position: 50% 40%;
	}
	.imageDiv3 {
		background-image: url('../images/New-Homes/HoggsHollowTraditional-2.jpg');
		background-position: 50% 40%;
	}
	.imageDiv4 {
		background-image: url('../images/New-Homes/HoggsHollowTraditional-3.jpg');
		background-position: 50% 40%;
	}
	.imageDiv5 {
		background-image: url('../images/New-Homes/HoggsHollowTraditional-5.jpg');
		background-position: 50% 40%;
	}

}