
.renosAndAdditionsOverview .layoutAll {
	.imageDiv1 {
		background-image: url('../images/Renovations-Additions/Lytton-Park-4.jpg');
		background-position: 50% 40%;
	}
	.imageDiv2 {
		background-image: url('../images/Renovations-Additions/Etobicoke-2.jpg');
		background-position: 50% 40%;
	}
	.imageDiv3 {
		background-image: url('../images/Renovations-Additions/Lytton-Park-2.jpg');
		background-position: 50% 40%;
	}
	.imageDiv4 {
		background-image: url('../images/Renovations-Additions/Cornwall-1.jpg');
		background-position: 50% 40%;
	}
	.imageDiv5 {
		background-image: url('../images/Renovations-Additions/Rosedale-2.jpg');
		background-position: 50% 40%;
	}

}