
.oakvilleExecutiveHome .layoutAll {
	.imageDiv:hover {
		opacity: 1;
	}

	.imageDiv1 {
		background-image: url('../images/New-Homes/Oakville-1.jpg');
		background-position: 50% 40%;
	}
	.imageDiv2 {
		background-image: url('../images/New-Homes/Oakville-2.jpg');
		background-position: 50% 40%;
	}
	.imageDiv3 {
		background-image: url('../images/New-Homes/Oakville-3.jpg');
		background-position: 50% 40%;
	}

}