
.creditRiverClassic .layoutAll {
	.imageDiv:hover {
		opacity: 1;
	}

	.imageDiv1 {
		background-image: url('../images/New-Homes/CreditRiver-3.jpg');
		background-position: 50% 40%;
	}
	.imageDiv2 {
		background-image: url('../images/New-Homes/CreditRiver-1b.jpg');
		background-position: 50% 40%;
	}
	.imageDiv3 {
		background-image: url('../images/New-Homes/CreditRiver-10.jpg');
		background-position: 50% 40%;
	}
	.imageDiv4 {
		background-image: url('../images/New-Homes/CreditRiver-4.jpg');
		background-position: 50% 40%;
	}
	.imageDiv5 {
		background-image: url('../images/New-Homes/CreditRiver-5.jpg');
		background-position: 50% 40%;
	}
	.imageDiv6 {
		background-image: url('../images/New-Homes/CreditRiver-7.jpg');
		background-position: 50% 40%;
	}
	.imageDiv7 {
		background-image: url('../images/New-Homes/CreditRiver-6.jpg');
		background-position: 50% 40%;
	}
	.imageDiv8 {
		background-image: url('../images/New-Homes/CreditRiver-8.jpg');
		background-position: 50% 40%;
	}
	.imageDiv9 {
		background-image: url('../images/New-Homes/CreditRiver-9.jpg');
		background-position: 50% 40%;
	}
	.imageDiv10 {
		background-image: url('../images/New-Homes/CreditRiver-12.jpg');
		background-position: 50% 40%;
	}
	.imageDiv11 {
		background-image: url('../images/New-Homes/CreditRiver-11.jpg');
		background-position: 50% 40%;
	}
	.imageDiv12 {
		background-image: url('../images/New-Homes/CreditRiver-13.jpg');
		background-position: 50% 40%;
	}

}