
.sketchesAndRenderings .layoutSketches {
	.imageDiv:hover {
		opacity: 1;
	}
	.textOverlay {
		/*color: #7ba7ba;*/
	}
	.imageDiv1 {
		background-image: url('../images/Sketches-Renderings/1-The-Kingsway--New-Home.jpg');
		background-position: 50% 40%;
	}
	.imageDiv2 {
		background-image: url('../images/Sketches-Renderings/6-The-Kingsway-Renovation.jpg');
		background-position: 50% 40%;
	}
	.imageDiv3 {
		background-image: url('../images/Sketches-Renderings/2-North-York-New-Home.jpg');
		background-position: 50% 40%;
	}
	.imageDiv4 {
		background-image: url('../images/Sketches-Renderings/3-Oakville-Proposal.jpg');
		background-position: 50% 60%;
	}
	.imageDiv5 {
		background-image: url('../images/Sketches-Renderings/4-Lorne-Park-New-Home.jpg');
		background-position: 50% 50%;
	}

}