
.kingswayTransitional .layoutAll {
	.imageDiv:hover {
		opacity: 1;
	}

	.imageDiv1 {
		background-image: url('../images/New-Homes/Kingsway-1.jpg');
		background-position: 50% 40%;
	}
	.imageDiv2 {
		background-image: url('../images/New-Homes/Kingsway-2.jpg');
		background-position: 50% 40%;
	}
	.imageDiv3 {
		background-image: url('../images/New-Homes/Kingsway-6.jpg');
		background-position: 50% 40%;
	}
	.imageDiv4 {
		background-image: url('../images/New-Homes/Kingsway-3.jpg');
		background-position: 50% 40%;
	}
	.imageDiv5 {
		background-image: url('../images/New-Homes/Kingsway-5.jpg');
		background-position: 50% 40%;
	}
	.imageDiv6 {
		background-image: url('../images/New-Homes/Kingsway-4.jpg');
		background-position: 50% 40%;
	}
	.imageDiv7 {
		background-image: url('../images/New-Homes/Kingsway-7.jpg');
		background-position: 50% 40%;
	}
	.imageDiv8 {
		background-image: url('../images/New-Homes/Kingsway-8.jpg');
		background-position: 50% 40%;
	}

}