
.hoggsHollowFrenchCountry .layoutAll {
	.imageDiv:hover {
		opacity: 1;
	}

	.imageDiv1 {
		background-image: url('../images/New-Homes/FrenchCountry-4.jpg');
		background-position: 50% 40%;
	}
	.imageDiv2 {
		background-image: url('../images/New-Homes/FrenchCountry-2.jpg');
		background-position: 50% 40%;
	}
	.imageDiv3 {
		background-image: url('../images/New-Homes/FrenchCountry-3.jpg');
		background-position: 50% 40%;
	}
	.imageDiv4 {
		background-image: url('../images/New-Homes/FrenchCountry-1.jpg');
		background-position: 50% 40%;
	}
	.imageDiv5 {
		background-image: url('../images/New-Homes/FrenchCountry-7.jpg');
		background-position: 50% 40%;
	}
	.imageDiv6 {
		background-image: url('../images/New-Homes/FrenchCountry-5.jpg');
		background-position: 100% 40%;
	}

}