.layoutNewHomesKingswayTransitional {
	.image1 {
		width: 97%;
		height: 650px;
	}
	.image2 {
		width: 39%;
		height: 300px;
	}
	.image3 {
		width: 27%;
		height: 300px;
	}
	.image4 {
		width: 27%;
		height: 300px;
	}
	.image5 {
		width: 48%;
		height: 350px;
	}
	.image6 {
		width: 47%;
		height: 275px;
	}
	.textBlurbFiller {
		background-color: #7ba7ba;
		margin: 1%;
		padding: 0 5%;
		width: 37%;
		min-height: 50px;
		float: left;
	}
	.image7 {
		width: 56%;
		height: 350px;
	}
	.image8 {
		width: 39%;
		height: 350px;
	}

}