.layoutNewHomesCreditRiverClassic {
	.image1 {
		width: 45%;
		height: 650px;
	}
	.image2 {
		width: 50%;
		height: 350px;
	}
	.image3 {
		width: 50%;
		height: 275px;
	}
	.image4 {
		width: 45%;
		height: 300px;
	}
	.image5 {
		width: 50%;
		height: 300px;
	}
	.image6 {
		width: 45%;
		height: 300px;
	}
	.image7 {
		width: 50%;
		height: 300px;
	}
	.image8 {
		width: 100%;
		height: 600px;
	}
	.image9 {
		width: 45%;
		height: 650px;
	}
	.image10 {
		width: 50%;
		height: 300px;
	}
	.image11 {
		width: 50%;
		height: 332px;
	}
	.image12 {
		width: 100%;
		height: 550px;
	}
}