
.royalYorkFacelift .layoutAll {
	a:hover .imageDiv,
	.imageDiv:hover {
		opacity: 1;
	}
	
	.imageDiv1 {
		background-image: url('../images/Renovations-Additions/Royal-York-Facelift/1.jpg');
		background-position: 50% 40%;
	}
	.imageDiv2 {
		background-image: url('../images/Renovations-Additions/Royal-York-Facelift/2.jpg');
		background-position: 50% 40%;
	}

}