$width1: 48% - $spacingX2;
$width2: 52% - $spacingX2;
$width3: 52% - $spacingX2;
$width4: 48% - $spacingX2;
$width5: 52% - $spacingX2;
$width6: 48% - $spacingX2;
$width7: 52% - $spacingX2;
$width8: 100% - $spacingX2;
$width9: 48% - $spacingX2;
$width10: 52% - $spacingX2;
$width11: 52% - $spacingX2;
$width12: 100% - $spacingX2;
$height1: $baseHeight * 1.29;
$height2: $baseHeight * 0.68;
$height3: $baseHeight * 0.54;
$height4: $baseHeight * 0.6;
$height5: $baseHeight * 0.6;
$height6: $baseHeight * 0.6;
$height7: $baseHeight * 0.6;
$height8: $baseHeight * 1.2;
$height9: $baseHeight * 1.35;
$height10: $baseHeight * 0.61;
$height11: $baseHeight * 0.664;
$height12: $baseHeight * 1.1;

.creditRiverClassic .layoutAll {
	a:hover .imageDiv,
	.imageDiv:hover {
		opacity: 1;
	}

	.imageDiv1 {
		background-image: url('../images/New-Homes/CreditRiver-3.jpg');
		background-position: 50% 40%;
	}
	.imageDiv2 {
		background-image: url('../images/New-Homes/CreditRiver-1b.jpg');
		background-position: 50% 40%;
	}
	.imageDiv3 {
		background-image: url('../images/New-Homes/CreditRiver-10.jpg');
		background-position: 50% 40%;
	}
	.imageDiv4 {
		background-image: url('../images/New-Homes/CreditRiver-4.jpg');
		background-position: 50% 40%;
	}
	.imageDiv5 {
		background-image: url('../images/New-Homes/CreditRiver-5.jpg');
		background-position: 50% 40%;
	}
	.imageDiv6 {
		background-image: url('../images/New-Homes/CreditRiver-7.jpg');
		background-position: 50% 40%;
	}
	.imageDiv7 {
		background-image: url('../images/New-Homes/CreditRiver-6.jpg');
		background-position: 50% 40%;
	}
	.imageDiv8 {
		background-image: url('../images/New-Homes/CreditRiver-8.jpg');
		background-position: 50% 40%;
	}
	.imageDiv9 {
		background-image: url('../images/New-Homes/CreditRiver-9.jpg');
		background-position: 50% 40%;
	}
	.imageDiv10 {
		background-image: url('../images/New-Homes/CreditRiver-12.jpg');
		background-position: 50% 40%;
	}
	.imageDiv11 {
		background-image: url('../images/New-Homes/CreditRiver-11.jpg');
		background-position: 50% 40%;
	}
	.imageDiv12 {
		background-image: url('../images/New-Homes/CreditRiver-13.jpg');
		background-position: 50% 40%;
	}

}

.layoutNewHomesCreditRiverClassic {
	.image1 {
		width: $width1;
		height: $height1;
	}
	.image2 {
		width: $width2;
		height: $height2;
	}
	.image3 {
		width: $width3;
		height: $height3;
	}
	.image4 {
		width: $width4;
		height: $height4;
	}
	.image5 {
		width: $width5;
		height: $height5;
	}
	.image6 {
		width: $width6;
		height: $height6;
	}
	.image7 {
		width: $width7;
		height: $height7;
	}
	.image8 {
		width: $width8;
		height: $height8;
	}
	.image9 {
		width: $width9;
		height: $height9;
	}
	.image10 {
		width: $width10;
		height: $height10;
	}
	.image11 {
		width: $width11;
		height: $height11;
	}
	.image12 {
		width: $width12;
		height: $height12;
	}
	.shadowOverlay {
		background-color: black;
	}
}