.layoutRenovationsEtobicokeRenewal {
	.image1 {
		width: 60%;
		height: 500px;
	}
	.image2 {
		width: 35%;
		height: 225px;
		float: right;
		margin-right: 1%;
	}
	.image3 {
		width: 35%;
		height: 525px;
		float: right;
		margin-right: 1%;
	}
	.image4 {
		width: 29%;
		height: 250px;
	}
	.image5 {
		width: 29%;
		height: 250px;
	}
	.image6 {
		width: 45%;
		height: 400px;
	}
	.image7 {
		width: 50%;
		height: 400px;
	}
}