$width1: 48% - $spacingX2;
$width2: 52% - $spacingX2;
$width3: 21% - $spacingX2;
$width4: 31% - $spacingX2;
$width5: 36% - $spacingX2;
$width6: 64% - $spacingX2;
$height1: $baseHeight * 1.405;
$height2: $baseHeight * 0.74058;
$height3: $baseHeight * 0.598266;
$height4: $baseHeight * 0.598266;
$height6: $baseHeight * 0.691748;
$height5: $height6;

.home .layoutAll {
	.imageDiv1 {
		background-image: url('../images/New-Homes/HoggsHollowTraditional-4.jpg');
		background-position: 100% 0%;
	}
	.imageDiv2 {
		background-image: url('../images/New-Homes/Kingsway-1.jpg');
		background-position: 50% 40%;
	}
	.imageDiv3 {
		background-image: url('../images/New-Homes/Kingsway-6.jpg');
		background-position: 50% 40%;
	}
	.imageDiv4 {
		background-image: url('../images/New-Homes/CreditRiver-1.jpg');
		background-position: 50% 40%;
	}
	.imageDiv5 {
		background-image: url('../images/Renovations-Additions/Etobicoke-2.jpg');
		background-position: 50% 40%;
	}
	.imageDiv6 {
		background-image: url('../images/Renovations-Additions/Lytton-Park-3.jpg');
		background-position: 50% 40%;
	}
	.shadowOverlay {
		background-color: black;
	}
}

.layoutHome {
	.image1 {
		width: $width1;
		height: $height1;
	}
	.image2 {
		width: $width2;
		height: $height2;
	}
	.image3 {
		width: $width3;
		height: $height3;
	}
	.image4 {
		width: $width4;
		height: $height4;
	}
	.image5 {
		width: $width5;
		height: $height5;
	}
	.image6 {
		width: $width6;
		height: $height6;
	}
}