$width1: 100% - $spacingX2;
$width2: 62% - $spacingX2;
$width3: 38% - $spacingX2;
$height1: $baseHeight * 1.2;
$height2: $baseHeight * 0.96;
$height3: $baseHeight * 0.96;

.oakvilleExecutiveHome .layoutAll {
	a:hover .imageDiv,
	.imageDiv:hover {
		opacity: 1;
	}

	.imageDiv1 {
		background-image: url('../images/New-Homes/Oakville-1.jpg');
		background-position: 50% 40%;
	}
	.imageDiv2 {
		background-image: url('../images/New-Homes/Oakville-2.jpg');
		background-position: 50% 40%;
	}
	.imageDiv3 {
		background-image: url('../images/New-Homes/Oakville-3.jpg');
		background-position: 50% 40%;
	}
}

.layoutNewHomesOakvilleExecutiveHome {
	.image1 {
		width: $width1;
		height: $height1;
	}
	.image2 {
		width: $width2;
		height: $height2;
	}
	.image3 {
		width: $width3;
		height: $height3;
	}
	.shadowOverlay {
		background-color: black;
	}
}