.layoutRenovationsCornwallHeritageAddition {
	.image1 {
		width: 97%;
		height: 700px;
	}
	.image2 {
		width: 60%;
		height: 850px;
	}
	.image3 {
		width: 35%;
		height: 530px;
	}
	.image4 {
		width: 35%;
		height: 300px;
	}
	.image5 {
		width: 60%;
		height: 400px;
	}
	.image6 {
		width: 35%;
		height: 400px;
	}
}