
.layoutSketches {
	.image1 {
		width: 60%;
		height: 450px;
	}
	.image2 {
		width: 35%;
		height: 275px;
		float: right;
		margin-right: 1%;
	}
	.image3 {
		width: 35%;
		height: 250px;
		float: right;
		margin-right: 1%;
	}
	.image4 {
		width: 60%;
		height: 250px;
	}
	.image5 {
		width: 35%;
		height: 155px;
		float: right;
		margin-right: 1%;
	}

}