$width1: 100% - $spacingX2;
$width2: $width1;
$width3: $width1;
$height1: $baseHeight * 1.26;
$height2: $height1;
$height3: $baseHeight * 1;

.sketchesAndRenderings .layoutSketches {
	a:hover .imageDiv,
	.imageDiv:hover {
		opacity: 1;
	}

	.textOverlay {
		/*color: #7ba7ba;*/
	}
	.imageDiv1 {
		background-image: url('../images/Sketches-Renderings/46-Queen-Marys-5.jpg');
		background-position: 50% 100%;
	}
	.imageDiv2 {
		background-image: url('../images/Sketches-Renderings/1-The-Kingsway--New-Home.jpg');
		background-position: 0% 40%;
	}
	.imageDiv3 {
		background-image: url('../images/Sketches-Renderings/3-Oakville-Proposal.jpg');
		background-position: 50% 60%;
	}
}

.layoutSketches {
	.image1 {
		width: $width1;
		height: $height1;
	}
	.image2 {
		width: $width2;
		height: $height2;
	}
	.image3 {
		width: $width3;
		height: $height3;
	}
	.shadowOverlay {
		background-color: black;
	}
}