$width1: 48% - $spacingX2;
$width2: 52% - $spacingX2;
$width3: 52% - $spacingX2;
$width4: 48% - $spacingX2;
$width5: 52% - $spacingX2;
$height1: $baseHeight * 1.29;
$height2: $baseHeight * 0.69;
$height3: $baseHeight * 0.53;
$height4: $baseHeight * 0.6;
$height5: $baseHeight * 0.6;

.renosAndAdditionsOverview .layoutAll {
	.imageDiv1 {
		background-image: url('../images/Renovations-Additions/Lytton-Park-4.jpg');
		background-position: 50% 40%;
	}
	.imageDiv2 {
		background-image: url('../images/Renovations-Additions/Etobicoke-2.jpg');
		background-position: 50% 40%;
	}
	.imageDiv3 {
		background-image: url('../images/Renovations-Additions/Lytton-Park-2.jpg');
		background-position: 50% 40%;
	}
	.imageDiv4 {
		background-image: url('../images/Renovations-Additions/Cornwall-1.jpg');
		background-position: 50% 40%;
	}
	.imageDiv5 {
		background-image: url('../images/Renovations-Additions/Rosedale-2.jpg');
		background-position: 50% 40%;
	}
}

.layoutRenovations {
	.image1 {
		width: $width1;
		height: $height1;
	}
	.image2 {
		width: $width2;
		height: $height2;
	}
	.image3 {
		width: $width3;
		height: $height3;
	}
	.image4 {
		width: $width4;
		height: $height4;
	}
	.image5 {
		width: $width5;
		height: $height5;
	}
	.shadowOverlay {
		background-color: black;
	}
}