.layoutRenovationsLyttonParkUpdate {
	.image1 {
		width: 97%;
		height: 650px;
	}
	.image2 {
		width: 51%;
		height: 360px;
	}
	.image3 {
		width: 44%;
		height: 700px;
		float: right;
		margin-right: 1%;
	}
	.image4 {
		width: 51%;
		height: 320px;
	}
	.image5 {
		width: 97%;
		height: 550px;
	}
}