
.layoutHome {
	.image1 {
		width: 45%;
		height: 650px;
	}
	.image2 {
		width: 50%;
		height: 350px;
	}
	.image3 {
		width: 24%;
		height: 275px;
	}
	.image4 {
		width: 24%;
		height: 275px;
	}
	.image5 {
		width: 35%;
		height: 300px;
	}
	.image6 {
		width: 60%;
		height: 300px;
	}
	.image7 {
		width: 35%;
		height: 300px;
	}
	.image8 {
		width: 60%;
		height: 300px;
	}
	.image9 {
		width: 35%;
		height: 300px;
	}
	.image10 {
		width: 60%;
		height: 300px;
	}

}