
/********************
PORTFOLIO
********************/



.portfolio .mainImages .sectionBlurb {
	width: 600px;
}
.portfolio .image .caption {
	display: none;
	text-align: center;
	position: relative;
	bottom: 17%;
	left: 0%;
	z-index: 3000;
	background-color: rgba(0, 0, 0, 0.5);
	height: 50px;
	color: white;
	padding: 10px;
}
.portfolio .slick-center:hover .caption {
	display: block;
}
.portfolio .slick-next,
.portfolio .slick-prev {
	position: absolute;
	top: 50%;
	z-index: 2000;
	opacity: 1;
	line-height: 50px;
	font-size: 50px;
	color: black;
	/*border: 1px solid red;*/
	display: block;
}
.portfolio .mainImages .image {
	display: inline-block;
	height: 650px;
	margin: 0 15px;
}
.portfolio .mainImages img {
	height: 700px;
}
.portfolio .sectionTitle {
	float: left;
}
.portfolio h3 {
	font-weight: 700;
	padding-left: 20px;
}
.portfolio .thumbNav {
	text-align: right;
	display: inline-block;
	height: 50px;
	float: right;
}
.portfolio .thumbNav .navBlurb {
	display: inline-block;
	height: 50px;
	margin: 0;
}
.portfolio .thumbNav .image {
	display: inline-block;
}
.portfolio .thumbNav img {
	height: 50px;
	margin: 0;
	display: inline-block;
}
.portfolio .slick-next {
	/*background-image: url("../images/rightArrow.png");*/
	right: 50px;
	width: 0px;
	height: 0px;
}
.portfolio .slick-prev {
	/*background-image: url("../images/leftArrow.png");*/
	left: 50px;
	width: 0px;
	height: 0px;
}
.portfolio .slick-prev:before, 
.portfolio .slick-next:before {
	font-size: 50px;
	line-height: 50px;
}
.portfolio .slick-next:hover,
.portfolio .slick-prev:hover {
	opacity: 1;
	cursor: pointer;
}
.portfolio .slick-next:hover .slick-slide,
.portfolio .slick-prev:hover .slick-slide{
	opacity: 1;
}
.portfolio .slick-slide,
.portfolio .thumbNav img,
.portfolio .thumbNav .navBlurb {
	opacity: 0.5;
	cursor: pointer;
}
.portfolio .mainImages .image:hover,
.portfolio .thumbNav .image:hover img,
.portfolio .thumbNav .selected,
.portfolio .thumbNav .selected img,
.portfolio .mainImages .slick-center {
	opacity: 1;
}
.portfolio .mainImages .slick-center,
.portfolio .thumbNav .selected,
.portfolio .thumbNav .selected img {
	cursor: default;
}