
/********************
REVIEWS
********************/
.reviews {
	.textBlurb {
		padding: 1%;
		float: left;
		max-width: 100%;
		background-color: #7ba7ba;
		margin: 1%;
		width: 95%;
		height: 75px;
		color: white;
	}
}