
$content-size: 88vh;
/********************
REVIEWS
********************/
.reviews, .about, .contact {

	.contentWrapper {
		min-height: $content-size;
		background: black;
	}
	.textContent {
		position: absolute;
		top: 20vh;
		display: inline-block;
		padding: 0 10%;
		z-index: 200;
		color: white;
		/*margin-top: -100vh;*/
	}
	.textContent h4 {
		display: block;
		text-align: right;
		margin-top: -10px;
	}
	.textContent p {
		display: inline-block;
		font-weight: 400;
	}
	.shadowOverlay {
		background-color: black;
		position: relative;
		margin-top: 0px;
		z-index: 100;
		min-height: $content-size;
	}
	.backgroundImage {
		background-image: url("../images/Renovations-Additions/Cornwall-Heritage-Addition/5.jpg");
		max-width: 100%;
		min-height: $content-size;
		background-size: cover;

		-webkit-animation: 
			contentFadeIn 3s ease-in 1,
			contentStayFaded 3s ease-in infinite 3s;
		-moz-animation: 
			contentFadeIn 3s ease-in 1,
			contentStayFaded 3s ease-in infinite 3s;
		-o-animation: 
			contentFadeIn 3s ease-in 1,
			contentStayFaded 3s ease-in infinite 3s;
		animation: 
			contentFadeIn 3s ease-in 1,
			contentStayFaded 3s ease-in infinite 3s;
	    
	}
	
}

@import 'contentFadeIn';

@media screen and (max-width: 935px) {
	$content-size: 100vh;
	.reviews {
		.contentWrapper {
			min-height: $content-size;
		}
		.shadowOverlay {
			min-height: $content-size;
		}
		.backgroundImage {
			min-height: $content-size;
		}
		.textContent {
			top: 10vh;
		}
	}
}