
@import 'header';
@import 'indexContent';
/*@import 'about';*/
@import 'reviews';
/*@import 'contact';*/
@import 'portfolioOverviews';
@import 'portfolio';


/********************
GENERAL
********************/

* {
	/*box-sizing: border-box;*/
	/*border: 1px solid red;*/
}
body {
	/*margin: 1%;*/
	/*font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;*/
	/*font-family: Tahoma, 'Geneva', 'Century Gothic', 'Lucida Sans Unicode', 'Lucida Grande', Verdana, 'Trebuchet MS', sans-serif;*/
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Raleway', sans-serif;
}
.contentWrapper {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	/*margin-top: 20px;*/
}


@media screen and (max-width: 935px) {
	.contentWrapper {
		margin-top: 30px;
	}
}
@media screen and (max-width: 475px) {
	.contentWrapper {
		margin-top: 100px;
	}
}
@media screen and (max-width: 230px) {
	body {
		width: 230px;
	}
}




/********************
CLEARFIX
********************/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}