$width1: 23% - $spacingX2;
$width2: 77% - $spacingX2;
$width3: 23% - $spacingX2;
$width4: 50% - $spacingX2;
$width5: 50% - $spacingX2;
$height1: $baseHeight * 0.45;
$height2: $baseHeight * 0.96;
$height3: $baseHeight * 0.45;
$height4: $baseHeight * 0.52;
$height5: $baseHeight * 0.52;

.lorneParkInterior .layoutAll {
	a:hover .imageDiv,
	.imageDiv:hover {
		opacity: 1;
	}

	.imageDiv1 {
		background-image: url('../images/Renovations-Additions/Lorne-Park-2.jpg');
		background-position: 50% 40%;
	}
	.imageDiv2 {
		background-image: url('../images/Renovations-Additions/Lorne-Park-4.jpg');
		background-position: 50% 40%;
	}
	.imageDiv3 {
		background-image: url('../images/Renovations-Additions/Lorne-Park-1.jpg');
		background-position: 50% 40%;
	}
	.imageDiv4 {
		background-image: url('../images/Renovations-Additions/Lorne-Park-5.jpg');
		background-position: 50% 30%;
	}
	.imageDiv5 {
		background-image: url('../images/Renovations-Additions/Lorne-Park-6.jpg');
		background-position: 50% 30%;
	}
}

.layoutRenovationsLorneParkInterior {
	.image1 {
		width: $width1;
		height: $height1;
	}
	.image2 {
		width: $width2;
		height: $height2;
		float: right;
	}
	.image3 {
		width: $width3;
		height: $height3;
	}
	.image4 {
		width: $width4;
		height: $height4;
	}
	.image5 {
		width: $width5;
		height: $height5;
	}
	.shadowOverlay {
		background-color: black;
	}
}