footer
    a(
        class="houzzLogoFooter"
        href="http://www.houzz.com/pro/architrave/architrave-design-architect"
    )
        img(src="/images/HouzzH.png")
    a(
        href="/sitemap.html"
        class="sitemap"
    ) Site Map
    p(class="websiteBy") Website by 
        a(href="http://alisonkhall.com") Alison K. Hall
