head
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width', initial-scale='1')
	title Architrave Design, Architect | Residential Designs
	meta(name='Author', content='Architrave Design, Architect')
	meta(name='Keywords', content='Architect, Etobicoke, The Kingsway, Toronto, Mississauga, Oakville, Design, Home, House, Renovation, Addition, Custom Home Design, Home Architect, Renovation Architect, Etobicoke Architect, Toronto Architect, Mississauga Architect, Oakville Architect')
	meta(name='Description', content='Architrave Design, Architect is a Residential Architect designing Homes and Additions in Etobicoke, Toronto, Mississauga, and Oakville.')
	link(rel='stylesheet', href='/css/normalize.css')
	link(href='http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300', rel='stylesheet', type='text/css')
	link(rel='stylesheet', href='/css/style.css')

	script(src='/js/google-analytics.js', type='text/javascript')