@import 'variables';

header {
	width: $contentWrapperWidth;
	// height: 0px;
	float: left;
	margin-left: calc($asideWidth + $spacingHalf);
	background: white;
	text-transform: uppercase;

	@media screen and (max-width: $breakpointLarge) {
		// height: $headerHeight;
		position: absolute;
		top: 0;
		left: 150px;
		margin: 0;
	}

	@media screen and (max-width: $breakpointMedium) {
		// left: 15%;
		width: 85%;
	}

	@media screen and (max-width: $breakpointSmall) {
		width: 85%;
		// height: $headerHeight;
		position: absolute;
		top: 0;
		left: 70px;
		margin: 0;
	}

	p {
		/*font-size: 1.80375em;*/
		font-size: 1.75rem;
		line-height: 0.8rem;
		margin: 20px 0 0 0;
		display: inline-block;
		color: $grayLinkColour;
		padding-left: $spacing;
		font-weight: 400;
		/*letter-spacing: 0.05em;*/

		@media screen and (max-width: $breakpointMedium) {
			font-size: 1.5rem;
			padding-left: 1%;
			letter-spacing: 0rem;
			line-height: 0.2rem;
		}

		@media screen and (max-width: $breakpointSmall) {
			margin: 0;
			font-size: 1.1rem;
			letter-spacing: 0.02rem;
			line-height: 1.2rem;
		}

		&:first-child{
			color: $architraveLogoColour;
			font-size: 1.75rem;
			letter-spacing: 0.05rem;
			font-weight: 500;

			@media screen and (max-width: $breakpointMedium) {
				letter-spacing: 0.02rem;
			}

			@media screen and (max-width: $breakpointSmall) {
				margin-top: 1%;
				font-size: 1.5rem;
				letter-spacing: 0.08rem;
			}

			+ p {
				@media screen and (max-width: $breakpointSmall) {
					display: none;
				}
			}
		}
	}
}

aside {
	width: $asideWidth;
	height: 100%;
	position: fixed;
	padding-right: $spacingHalf;
	margin: 0 0 0 $negativeSpacingHalf;
	top: 0;
	left: 0;
	float: left;
	background: transparent;
	z-index: 9999;

	@media screen and (max-width: $breakpointLarge) {
		width: 100%;
		height: 0px;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		float: left;
		z-index: 9999;
	}

	#logo {
		float: right;
		padding: 0;
		padding-top: 20px;
		width: 112px;
		min-width: 60px;

		@media screen and (max-width: $breakpointLarge) {
			float: left;
			padding: $spacing $spacing 0 $spacing;
		}
	}

	nav {
		float: right;
		padding: 0;
		margin: 80px 0 0;
		text-transform: uppercase;

		@media screen and (max-width: $breakpointLarge) {
			margin: 0;
			padding: 0;
			text-transform: none;
		}

		> ul {
			width: 445px;
			margin: 0;
			text-align: right;

			@media screen and (max-width: $breakpointLarge) {
				float: left;
				text-align: right;
				position: absolute;
				top: 70px;
				right: 1%;
				width: 96%;
				margin: 0 $spacing $spacing $spacing;
				padding: 0;
			}

			@media screen and (max-width: $breakpointExtraSmall) {
				top: 100px;
			}

			> li {
				@media screen and (max-width: $breakpointSmall) {
					font-size: 1.3em !important;
					color: red !important;
				}

				@media screen and (max-width: $breakpointExtraSmall) {
					line-height: 0.9em !important;
				}
			}
		}

		li {
			display: block;
			font-size: 1.7rem;
			line-height: 1.7rem;
			padding: 0;
			color: $grayLinkColour;

			@media screen and (max-width: $breakpointLarge) {
				display: inline-block;
				padding-left: 10px;
			}

			a {
				text-decoration: none;
				color: $grayLinkColour;

				&:hover {
					color: black;
				}
			}
		}

		.selected {
			font-weight: 500;
			color: $architraveLogoColour;
		}

		.subNav {
			display: none;
			margin: 4% 4%;

			@media screen and (max-width: $breakpointLarge) {
				position: absolute;
				top: 25px;
				right: 0;
				font-size: 1.7rem;
				text-align: right;
				width: 96%;
				margin: $spacing 0;
				padding: 0;
			}

			@media screen and (max-width: $breakpointSmall) {
				top: 30px;
			}

			@media screen and (max-width: $breakpointExtraSmall) {
				top: 50px !important;
			}

			li {
				font-size: 1.7rem;
				line-height: 1.7rem;

				@media screen and (max-width: $breakpointExtraSmall) {
					line-height: 0.9em !important;
				}
			}
		}

		.subNavVisible {
			display: block;

			@media screen and (max-width: $breakpointLarge) {
				display: inline-block;
			}
		}
	}

	.houzzLogo {
		position: absolute;
		bottom: $spacing;
		right: 3%;

		@media screen and (max-width: $breakpointLarge) {
			display: none;
		}

		@media screen and (max-width: $breakpointMedium) {
			width: 10%;
		}

		img {
			width: 50px;
			height: 50px;
		}
	}
}
