@import 'variables';
@import 'mixins';

.image-link {
    position: relative;
    display: block;
    height: 100%;

    &a {
        text-decoration: none;
        color: $lightTextColour;
        font-size: $tileLinkFontSize;
        font-weight: 300;
    }

    .imageDiv {
        @include backgroundSize(cover);
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    &:hover .imageDiv {
        opacity: 0.7;
    }
}
