@import 'variables';
@import 'mixins';

a.prevProject,
a.nextProject {
    font-size: 1.322rem;
    color: $darkTextColour;
    padding: 15px 3% 25px 2%;
    @include transition(all 0.2s linear 0s);

    img {
        display: none;
        opacity: 0;
        width: 16px;
        height: 16px;
        @include transition(all 0.2s ease-out 0s);
    }

    &:hover {
        color: $grayLinkColour;

        img {
            color: $grayLinkColour;
            display: inline-block;
            opacity: 1;
        }
    }
}

.nextProject {
    float: right;
    clear: right;

    &:hover {
        @include transform(translateX(-18px));

        img {
            @include transform(translateX(18px));
        }
    }
}

.prevProject {
    float: left;

    &:hover {
        @include transform(translateX(18px));

        img {
            @include transform(translateX(-18px));
        }
    }
}
