@import 'variables';

.row {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;

    @media screen and (min-width: $breakpointAboveSmall) {
        display: flex;
        flex-flow: row nowrap;
        width: auto;
        border-top: 25px solid $pageColour;
        border-bottom: 25px solid $pageColour;

        &:first-of-type {
            border-top: none;
        }

        + .row {
            border-top: none;
        }
    }
}
