
/********************
ABOUT
********************/



.about {
	.contentBackground {
		margin: $spacing;
		background-image: url("../images/About/CreditRiver-Background.jpg");
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.textContent {
		padding: $spacing 5%;
		float: left;
		max-width: 100%;
		background-color: transparent;
		margin: $spacing auto;
		color: white;
		/*font-variant: small-caps;*/
	}
	h2 {
		text-transform: uppercase;
		/*font-variant: small-caps;*/
		font-weight: 500;
		font-size: 1.2em;
	}
	.centerContent {
		width: 100%;
		float: left;
		background-color: white;
	}
	.textBlurb {
		padding: 0 5%;
		margin: $spacingX2 0 $spacingX2 $spacing;
		float: right;
		color: white;
		background-color: #7ba7ba;
		width: $contactBlurbWidth;
		min-height: $contactBlurbHeight;
	}
	.aboutImage {
		background-image: url("../images/About/Bill-Hall.jpg");
		background-position: 50% 40%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		max-width: 100%;
		overflow: hidden;
		width: $contactImageWidth;
		height: $contactImageHeight;
		float: left;
		margin: $spacingX2 $spacing $spacingX2 0;
		overflow: hidden;
	}
}

@media screen and (max-width: $breakpointSmall) {
	.about {
		.textBlurb {
			width: $contactBlurbWidthSmall;
			max-width: $contactBlurbWidthSmall;
			height: $contactBlurbHeightSmall;
		}
		.aboutImage {
			width: 100%;
			max-width: $contactImageWidthSmall;
			height: $contactImageHeightSmall;
			margin-bottom: 0;
		}
	}
}
