@import 'variables';
@import 'mixins';

/********************
ABOUT
********************/

$contactImageHeight: 250px;
$contactImageWidth: 38%;
$contactBlurbHeight: $contactImageHeight;
$contactImageHeightSmall: 520px;
$contactImageWidthSmall: 100%;
$contactBlurbHeightSmall: auto;
$contactBlurbWidthSmall: 100% - 10%;

.about {
	.contentBackground {
		margin: 0 $spacing $spacing;
		background-image: url("https://res.cloudinary.com/alisonkhall/image/upload/v1595346993/ArchitraveDesign/4-About/CreditRiver_Background_cnt0km.jpg");
		@include backgroundSize(cover);

		@media screen and (max-width: $breakpointSmall) {
			margin: 0 $mobileSpacing $mobileSpacing;
		}
	}

	.textContent {
		padding: $spacing 5%;
		max-width: 100%;
		color: $lightTextColour;
	}

	.heading {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.4375rem;
	}

	.centerContent {
		background-color: $pageColour;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		@media screen and (max-width: $breakpointSmall) {
			flex-flow: row wrap;
		}
	}

	.textBlurb {
		padding: 0 5%;
		margin: $spacing 0 $spacing $spacing;
		color: $lightTextColour;
		background-color: $blurbColour;
		min-height: $contactBlurbHeight;
		font-size: 1.2rem;
		display: block;
		border: 0;

		@media screen and (max-width: $breakpointSmall) {
			width: $contactBlurbWidthSmall;
			max-width: $contactBlurbWidthSmall;
			height: $contactBlurbHeightSmall;
			margin: $mobileSpacing 0;
		}
	}

	.aboutImage {
		background-image: url("https://res.cloudinary.com/alisonkhall/image/upload/v1595346996/ArchitraveDesign/4-About/Bill_Hall_q0cxw3.jpg");
		background-position: 50% 40%;
		@include backgroundSize(cover);
		max-width: 100%;
		overflow: hidden;
		width: $contactImageWidth;
		margin: $spacing 0;
		overflow: hidden;

		@media screen and (max-width: $breakpointSmall) {
			width: 100%;
			max-width: $contactImageWidthSmall;
			height: $contactImageHeightSmall;
			margin: $mobileSpacing 0 0;
		}
	}
}
