@import 'variables';

/********************
CONTACT
********************/

.contact {
	.contentBackground {
		margin: $spacing;
		background-image: url("https://res.cloudinary.com/alisonkhall/image/upload/v1613951882/ArchitraveDesign/6-Contact/HoggsHollowTraditional-4-Background_odujg8.jpg");
		background-position: 100% 0%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: $viewportHeightContact;

		@media screen and (max-width: $breakpointLarge) {
			height: $viewportHeightContactLarge;
		}
	}
	.textBlurb {
		padding: $spacing 5%;
		float: left;
		width: 90%;
		background-color: #7ba7ba;
		margin: 17% 0 $spacing 0;
		color: white;
		border-style: solid;
		border-color: white;
		border-width: 25px 0;
		font-size: 1.4rem;
		line-height: 1rem;

		@media screen and (max-width: $breakpointLarge) {
			font-size: 1.2rem;
		}

		@media screen and (max-width: $breakpointExtraSmall) {
			font-size: 1rem;
		}
	}

	.textBlurb p {
		margin: $spacing 0;
	}

	.textBlurb a:link,
	.textBlurb a:visited {
		text-decoration: none;
		color: white;
	}

	.textBlurb a:hover {
		text-decoration: underline;
	}

	i.fa {
		font-size: 0.8rem;
		margin: 10px;
	}
}
