@import 'variables';

.upcoming .layoutUpcoming {
	.row {
		padding-bottom: 40px;
	}

	.textOverlay,
	.completionDate {
		display: flex;
		flex-flow: row wrap;
		position: relative;
		padding: $spacingX2 0;
		z-index: 200;
	}

	.textBlurb {
		margin-bottom: 50px;
	}

	.textOverlay {
		margin-top: 15px;
	}

	.completionDate {
		display: block;
		text-align: right;
	}

	.upcomingBefore {
		width: auto;
		height: auto;
		margin-top: -115px !important;
		border: 0;
		padding: 0;

		.shadowOverlay {
			width: 45%;
			max-height: 300px;
			float: right;
		}

		.textOverlay {
			position: absolute;
			width: calc(45% - 40px);
			right: 0;
			bottom: 0;
			padding: 0;
		}
	}
}
