@import 'variables';
@import 'mixins';

/********************
REVIEWS
********************/

.reviews {
	.contentBackground {
		margin: $spacing;
		background-image: url("https://res.cloudinary.com/alisonkhall/image/upload/v1613951833/ArchitraveDesign/5-Reviews/Reviews-Background_vxw01r.jpg");
		@include backgroundSize(cover);
		background-position: 100% 100%;

		@media screen and (max-width: $breakpointLarge) {
			min-height: $viewportHeightReviewsLarge;
		}
	}

	.textContent {
		min-height: $viewportHeightReviews;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.review {
		padding: 4% 4% 4% 12%;
		max-width: 100%;
		margin: 0;
		width: 95%;
		color: white;
		border-top: 30px solid white;

		h3,
		h4,
		h5 {
			font-size: 1rem;
			line-height: 1rem;
			padding: 0;
			margin: 0;
		}

		h4,
		h5 {
			display: inline-block;
		}

		h5 {
			font-weight: normal;
		}

		p {
			max-width: 600px;
		}
	}

	.review:first-of-type {
		border: none;
	}

	.textBlurb {
		padding: 4%;
		width: 92%;
		color: $lightTextColour;
		background-color: $blurbColour;
		border-style: solid;
		border-color: $pageColour;
		border-width: 30px 0 30px 0;

		img {
			max-width: 200px;
			width: 100%;
			margin-bottom: -10px;
			padding: 0 5px 0 30%;
		}
	}
}
