


/********************
FILES
********************/

// @import 'variables';
// @import 'mixins';

// @import 'reviews';
// @import 'contact';
// @import 'sitemap';
// @import 'contentFadeIn';
// @import 'layoutUpcoming';


/********************
GENERAL
********************/

* {
	/*box-sizing: border-box;*/
	/*border: 1px solid red;*/
}
html,
body {
	margin: 0;
	border: 0;
	padding: 0;
	height: 100%;
}
body {
	font-family: 'Raleway', sans-serif;
}


/********************
CLEARFIX
********************/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
