
/********************
VARIABLES
********************/

/* Breakpoints */
$breakpointExtraLarge: 1300px;
$breakpointAboveExtraLarge: 1301px;
$breakpointLarge: 1000px;
$breakpointAboveLarge: 1001px;
$breakpointMedium: 750px;
$breakpointAboveMedium: 751px;
$breakpointAboveMediumSmall: 601px;
$breakpointMediumSmall: 600px;
$breakpointAboveSmall: 521px;
$breakpointSmall: 520px;
$breakpointAboveExtraSmall: 381px;
$breakpointExtraSmall: 380px;

/* Text Sizes */
$bodyFontSize: 16px;
$descriptionFontSize: 1.156rem;
$titleFontSize: 1.736rem;
$tileLinkFontSize: 1.4rem;

/* Spacing */
$mobileSpacing: 15px;
$spacing: 25px;
$spacingX2: $spacing * 2;
$spacingHalf: $spacing / 2;
$negativeSpacing: $spacing * (-1);
$negativeSpacingHalf: $spacingHalf * (-1);
$textBlurbPadding: calc(#{$descriptionFontSize} + #{$spacing});

/* Heading and Content */
$headerHeight: 70px;
$asideWidth: 22%;
$logoSize: 112px;
$mobileLogoSize: 80px;
$contentWrapperWidth: 100% - $asideWidth;
$contentWrapperMaxWidth: 1600px;

/* Colours */
$pageColour: white;
$lightTextColour: white;
$darkTextColour: black;
$shadowOverlayColour: black;
$blurbColour: #7ba7ba;
$subTitleColour: #CAE1EB;
$grayLinkColour: #999;
$lightGrayLinkColour: #DDD;
$architraveLogoColour: #9B5C6C;

/* Content Heights */
$viewportHeightDefault: 82vh;
$viewportHeightContact: 87vh;
$viewportHeightReviews: 95vh;
$viewportHeightSitemap: 85vh;
$viewportHeightDefaultLarge: $viewportHeightDefault - 10vh;
$viewportHeightContactLarge: $viewportHeightContact - 15vh;
$viewportHeightReviewsLarge: $viewportHeightReviews - 10vh;
$viewportHeightSitemapLarge: $viewportHeightSitemap - 10vh;
